#tree(ng-show='showContent')
  .page-header
    .ui.grid
      .four.column.row
        .right.floated.column
          h2.ui.header
            i.align.left.icon
            .content
              span.indent-me الهيكل
  .page-body
    .ui.grid
      .ui.styled.fluid.accordion.depart-accordion(ng-repeat='depart in ctrl.tree')
        .title
          i.university.icon
          i.dropdown.icon.pull-left 
          span.indent-me {{ depart.name }}
        .content
          .accordion.transition.hidden.office-accordion(ng-repeat='office in depart.offices')
            .title
              i.building.icon
              i.dropdown.icon.pull-left 
              span.indent-me {{ office.name }}
            .content 
              .student-cont(ng-repeat='school in office.schools')
                .title
                  i.student.icon 
                  span.indent-me {{ school.name }} 

