    @import '../../shared/variables';
    #tree {
      .depart-accordion,
      .office-accordion {
        border-radius: 1px;
      }
      .office-accordion {
        margin-right: 1.5em;
        margin: 0px;
        background-color: $border;
        .student-cont {
          margin-right: 1em;
          margin: 0px;
          background-color: #9e9e9e;
        }
      }
      .depart-accordio {
        padding-right: 0px;
      }
    }
