#course-view(ng-show='showContent')
  .ui.grid.container
    .row
      .eleven.wide.column
        .ui.fixed.segment
          ui-view
      .five.wide.column
        .course-sidebar-cont
          .ui.fixed.segment.progress-details
            .ui.statistics
              .statistic
                .value 
                  i.youtube.play.icon
                  | {{viewedCourse.progress.total}}
                .label.applied-font العدد الكلي
              .statistic
                .value 
                  i.unhide.icon 
                  | {{viewedCourse.progress.completed}}
                .label.applied-font تم المشاهدة
            .ui.divider 
              progress.course-progress(value='{{viewedCourse.progress.percentage}}', max='100')
          .ui.fixed.segment.videos-list
            .ui.divided.items
              .item(ng-repeat='video in viewedCourse.videos', ng-class='{"active-video": video.id == generalVideoID}', ui-sref='account.learn.course-view.video({ videoID: video.id })')
                a.ui.tiny.dimmable.image
                  .ui.dimmer
                    .content
                      .center
                        .play-icon
                          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 294.843 294.843" xml:space="preserve" width="512px" height="512px" class="img-responsive play-svg svg replaced-svg"><g>
                            <path d="M278.527,79.946c-10.324-20.023-25.38-37.704-43.538-51.132c-2.665-1.97-6.421-1.407-8.392,1.257s-1.407,6.421,1.257,8.392   c16.687,12.34,30.521,28.586,40.008,46.983c9.94,19.277,14.98,40.128,14.98,61.976c0,74.671-60.75,135.421-135.421,135.421   S12,222.093,12,147.421S72.75,12,147.421,12c3.313,0,6-2.687,6-6s-2.687-6-6-6C66.133,0,0,66.133,0,147.421   s66.133,147.421,147.421,147.421s147.421-66.133,147.421-147.421C294.842,123.977,289.201,100.645,278.527,79.946z" fill="#FFFFFF"></path>
                            <path d="M109.699,78.969c-1.876,1.067-3.035,3.059-3.035,5.216v131.674c0,3.314,2.687,6,6,6s6-2.686,6-6V94.74l88.833,52.883   l-65.324,42.087c-2.785,1.795-3.589,5.508-1.794,8.293c1.796,2.786,5.508,3.59,8.294,1.794l73.465-47.333   c1.746-1.125,2.786-3.073,2.749-5.15c-0.037-2.077-1.145-3.987-2.93-5.05L115.733,79.029   C113.877,77.926,111.575,77.902,109.699,78.969z" fill="#FFFFFF"></path>
                            </g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                          </svg>
                  img.video-thumb(ng-src='{{video.thumb}}') 
                .content.indent-me
                  a.header.applied-font {{video.title}}
                  .meta 
                    span.duration
                      i.wait.icon 
                      | {{video.length / 60}} د 
                    .ui.green.circular.label(ng-show='video.completed')
                      i.unhide.icon
                    .ui.circular.label(ng-show='!video.completed')
                      i.hide.icon
