#video-view(ng-show='showContent')
  .ui.embed(data-source='youtube', data-id='{{ctrl.courses.video.video}}', data-placeholder='{{ctrl.courses.video.thumb}}')
  .video-details 
    .ui.medium.header.applied-font {{ ctrl.courses.video.title }}
    button.ui.left.floated.button.primary-btn(ng-click='ctrl.videoStatus()')
      i.unhide.icon(ng-show='!ctrl.courses.video.completed') 
      span(ng-show='!ctrl.courses.video.completed')  أكملت الإطلاع على هذا المحتوى
      i.hide.icon(ng-show='ctrl.courses.video.completed') 
      span(ng-show='ctrl.courses.video.completed') تراجع, لم اتم اكتمال المحتوي
  p {{ ctrl.courses.video.description }}
  .video-interaction 
    .ui.comments
      h3.ui.dividing.header.applied-font مناقشات
      .comment(ng-repeat='comment in ctrl.courses.comments')
        a.avatar
          img(ng-src='{{comment.author.picture || "assets/images/profile-placeholder.png"}}')
        .content.indent-me
          a.author {{comment.author.name}}
          .metadata
            span.date {{comment.created_at_vis}}
          .text
            p {{comment.content}}
          .actions
            a.reply(ng-click='ctrl.assginCommentID(comment.id)') أضف رد
          form.ui.reply.form(ng-submit='ctrl.newCommentReply()' , ng-show='ctrl.courses.currentCommentID == comment.id')
            .two.fields
              .field
                textarea( rows="2" style="height: 38px; overflow-y: hidden;", ng-model='ctrl.commentReply')
              .field
                button.ui.blue.labeled.submit.icon.button.primary-btn(type="submit")
                  i.icon.edit
                  span.applied-font إضافة رد
        .comments.child
          .comment(ng-repeat='child in comment.replies')
            a.avatar
              img(ng-src='{{child.author.picture || "assets/images/profile-placeholder.png"}}')
            .content.indent-me
              a.author {{child.author.name}}
              .metadata
                span.date {{child.created_at_vis}}
              .text 
                p {{child.content}}
        .ui.divider 
      form.ui.reply.form(ng-submit='ctrl.newVideoComment()')
        .field
          label أضف تعليق 
          textarea(rows='2', cols='30', style='height:120px;', ng-model='ctrl.newComment')
        button.ui.blue.labeled.submit.icon.button.primary-btn(type="submit")
          i.icon.edit
          span.applied-font إضافة تعليق

