#course-view-info 
  .course-cover(ng-style="ctrl.courses.viewedCourse.coverStyle") 
  .course-block
    .ui.grid 
      .ten.wide.column 
        .ui.medium.header.applied-font {{ ctrl.courses.viewedCourse.name }}
    p لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر عندما قامت مطبعة مجهولة برص مجموعة من الأحرف بشكل عشوائي أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع شكلي لهذه الأحرف. خمسة قرون من الزمن لم تقضي على هذا النص، بل انه حتى صار مستخدماً وبشكله الأصلي في الطباعة والتنضيد 
  .course-attach
    .ui.horizontal.divider.header.applied-font منهج المادة
    ul 
      li منهج الدراسة:
      li تعاريف ضرورية
      li السياق العام للأخذ بالتدبير الإداري المرتكز على النتائج
      li مفاهيم وآليات ومبادئ التدبير الإداري المرتكز على النتائج
      li مكونات التدبير الإداري المرتكز على النتائج
    .ui.horizontal.divider.header.applied-font متطلبات المادة
    ul 
      li مطالعة المواضيع القريبة والمتعلقة بالمادة
      li المشاركة في المحاضرات بواسطة الملاحظات والتعليقات
      li مواكبة الدروس والامتحانات
    .ui.horizontal.divider.header.applied-font مخرجات المادة
    ul 
      li إدراك انماط التدبير الإداري
      li تسهيل امتلاك ملكة التدبير
      li القدرة على تقييم السياسات والبرامج
