#course-gallery(ng-show='showContent')
  .ui.grid.container
      .row
        .sixteen.wide.column
          .ui.fixed.segment
            .page-header
              .ui.grid
                .sixteen.column.wide
                  .right.floated.column
                    h3.ui.header
                      i.grid.layout.icon
                      .content
                        span.indent-me {{ctrl.courses.collecting.name_vis}}

            .page-body
              .ui.four.column.grid
                .column(ng-repeat="course in ctrl.courses.collecting.courses")
                  .ui.fluid.card(ui-sref='account.learn.course-view.info({courseID: course.id})')
                    .image
                      img(ng-src='{{ course.cover || "assets/images/course-cover.png" }}')
                    .content
                      .header.applied-font {{course.name}}
                      .description
                        | Matthew is an interior designer living in New York.
                    .extra.content
                      progress.course-progress(value='{{course.progress.percentage}}', max='100')  
            .page-header
              .ui.grid
                .sixteen.column.wide
                  .right.floated.column
                    h3.ui.header
                      i.grid.layout.icon
                      .content
                        span.indent-me {{ctrl.courses.capabilities.name_vis}}
            .page-body
              .ui.four.column.grid
                .column(ng-repeat="course in ctrl.courses.capabilities.courses")
                  .ui.fluid.card
                    .image
                      img(ng-src='{{ course.cover || "assets/images/course-cover.png" }}')
                    .content
                      .header.applied-font {{course.name}}
                      .description
                        | Matthew is an interior designer living in New York.
                    .extra.content
                      progress.course-progress(value='{{course.progress.percentage}}', max='100')  
            