@import '../../shared/variables';
#exams-gallery {
  .ui.blue.segment {
    border-top-width: 3px !important;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
}

#exams-new {
  .card {
    border-radius: 1px;
    cursor: pointer;
    box-shadow: none;
    border: 1px solid $border;
    transition: all 0.3s ease;
    img {
      border-radius: 1px;
    }
  }
  .shape {
    display: block !important;
  }
}
