#custom-office
  .ui.secondary.pointing.menu
    a.item(ng-class="{'active': isState('dashboard.management.custom-office.info')}", ui-sref="dashboard.management.custom-office.info")
      h4.ui.header.applied-font  المكتب
    a.item(ng-class="{'active': isState('dashboard.management.custom-office.school')}", ui-sref="dashboard.management.custom-office.school")
      h4.ui.header.applied-font المدرسة
    a.item(ng-class="{'active': isState('dashboard.management.custom-office.student')}", ui-sref="dashboard.management.custom-office.student")
      h4.ui.header.applied-font الطلاب
    .left.menu 
      .item 
        a.ui.icon.button.approving(ui-sref='dashboard.management.editoff({ officeID: currentOffID })')
          i.setting.icon
        a.ui.icon.button.warning(style='margin-right: 0.5rem;')
          i.trash.outline.icon 
  .ui.segment
    ui-view
