#manage-office-cont
  .page-header
    .ui.grid
      .four.wide.column
        .right.floated.column
          h2.ui.header
            i.building.icon
            .content
              span.indent-me(ng-hide="offUpdate")  اضافة مكتب
              span.indent-me(ng-show="offUpdate")   تعديل مكتب
      .twelve.wide.column 
        .steps-cont.ui.two.steps.en-dir
          .step.fstep(ng-class="{'active': !ctrl.officeManage.contacts.state}", ng-click="ctrl.checkContactStatus()")
            .content
              .title.applied-font معلومات المكتب
            i.building.icon              
          .step.sstep(ng-class="{'active': ctrl.officeManage.contacts.state}", ng-click="ctrl.checkContactStatus()")
            .content
              .title.applied-font معلومات التواصل
            i.user.icon  
  .page-body
    .ui.grid
      .sixteen.wide.column
        .office-info(ng-hide='ctrl.officeManage.contacts.state')
          #office-manage-form.ui.form
            .field 
              label شعار المكتب          
              .img-upload.cont
                label(for='office-logo')
                  .ui.small.image 
                    img#office-logo-preview(src='{{ ctrl.officeManage.profile.picture }}', alt="office logo" )
                    .card.img-placeholder 
                      h3.ui.icon.header
                        i.upload.icon 
                .field
                  input(id='office-logo' type='file', files-model='ctrl.officeManage.profile.picture', style='display:none;')        
            .two.fields
              .field
                label اسم المكتب
                input.applied-font(type='text', name='offName', placeholder='اسم المكتب', ng-model='ctrl.officeManage.profile.name')
              .field
                label العنوان
                input.applied-font(type='text', name='offAddress', placeholder='العنوان', ng-model='ctrl.officeManage.profile.address')
            .three.fields
              .field
                label عدد المدارس
                input.applied-font(type='number', name='school-count', placeholder='عدد المدارس', ng-model='ctrl.officeManage.profile.num_of_schools')
              .field
                label رقم الجوال
                input.applied-font(type='text', name='schoolPhone', placeholder='رقم الجوال', ng-model='ctrl.officeManage.profile.phone')
              .field(ng-if='userRole === "admin" ')
                label الاداره التابع لها
                select.ui.dropdown.form-dropdown(name="department-id", ng-model="ctrl.officeManage.profile.department_id")
                  option(value='') اختر الاداره
                  option(ng-repeat="depart in ctrl.officeManage.availableDeparts", ng-value="{{ depart.id }}") {{ depart.name }}
            .field
              .ui.error.message  
            .ui.primary.submit.button.primary-btn.applied-font(ng-if='offUpdate') حفظ  
            .ui.primary.submit.button.primary-btn.applied-font(ng-if='!offUpdate') اضافة
        .contact-info(ng-show='ctrl.officeManage.contacts.state')
          .ui.grid 
            .sixteen.wide.column 
              a.ui.button.primary-btn.pull-right(ng-click="ctrl.showModal()")
                i.add.icon
                span إضافة معلومات تواصل
              a.ui.button.primary-btn.pull-left(ui-sref="dashboard.management.offices-gallery")
                i.close.icon
                span تخطي
          table.ui.striped.table.right.aligned
            thead
              tr
                th رقم
                th الاسم
                th الوظيفة
                th رقم الجوال
                th البريد الالكتروني
                th(ng-show="offUpdate") خصائص
            tbody
              tr(ng-repeat="contact in ctrl.officeManage.contacts.contactList track by $index")
                td {{ $index+1 }}
                td {{ contact.name }}
                td {{ contact.position_vis }}
                td {{ contact.phone }}
                td {{ contact.email }}
                td(ng-show="offUpdate")
                  a.edit(ng-click="ctrl.showModal(contact)")
                    i.large.write.icon
              tr.center.aligned(ng-if='ctrl.officeManage.contacts.contactList.length == 0')
                td(colspan="5")
                  h4.ui.header.applied-font لا يوجد محتوي بعد
  // add new contact modal 
  .ui.modal.contact-off-modal
    .header.applied-font إضافة معلومات تواصل جديدة
    .content.right-aligned
      .ui.form#manage-off-contacts
        .two.fields
          .field
            label الاسم
            input.applied-font(type='text', name='contactName', placeholder='الاسم', ng-model='ctrl.officeManage.contacts.content.name')
          .field
            label الوظيفة
            select.ui.dropdown.form-dropdown.applied-font(name="contactPosition", ng-model="ctrl.officeManage.contacts.content.position")
              option(value='manager') مدير
              option(value='vice_manager_males') نائب شئون البنين
              option(value='vice_manager_females') نائب شئون البنات
              option(value='system_manager') مسئول التطبيق
        .two.fields
          .field
            label البريد الالكتروني
            input.applied-font(type='email', name='contactMail', placeholder='البريد الالكتروني', ng-model='ctrl.officeManage.contacts.content.email')
          .field
            label الجوال
            input.applied-font(type='text', name='contactPhone', placeholder='الجوال', ng-model='ctrl.officeManage.contacts.content.phone')
        .field
          .ui.error.message  
        .modal-actions 
          button.ui.primary.submit.button.primary-btn(ng-hide='ctrl.officeManage.contacts.edit')
            span.applied-font اضافة
            i.add.outline.icon
          button.ui.primary.submit.button.primary-btn(ng-show='ctrl.officeManage.contacts.edit')
            span.applied-font تعديل
            i.checkmark.outline.icon
          a.ui.warn-btn.button(ng-click='ctrl.discardNewContact()')
            span.applied-font رجوع
            i.close.icon 
