#office-school(ng-show='showContent')  
  .ui.tab(data-tab="info", ng-class="{'active': isState('dashboard.management.custom-office.school')}")
    .page-body
      .ui.grid.centered-pagin
        table.ui.striped.table.right.aligned(ng-table='ctrl.offices.customOffice.officeTable')
          tbody
            tr(ng-repeat='row in $data track by row.id')
              td(data-title="'رقم'" , sortable="'id'") {{ row.id }}
              td(data-title="'اسم المدرسة'" , sortable="'name'") {{ row.name }}
              td(data-title="'العنوان'") {{ row.address }}
              td(data-title="'رقم الجوال'") {{ row.phone }}
              td(data-title="'عرض المدرسة'")
                a.preview(ui-sref='dashboard.management.custom-school.info({ schoolID: row.id })')
                  i.large.unhide.icon
              td(data-title="'خصائص'")
                a.edit(ui-sref='dashboard.management.editsch({ schoolID: row.id })')
                  i.large.write.icon
                a.delete
                  i.large.trash.outline.icon
            tr.center.aligned(ng-if='ctrl.offices.customOffice.officeTable.data.length == 0')
              td(colspan="6")
                h4.ui.header.applied-font لا يوجد محتوي بعد
