#office-gallery(ng-show='showContent')
  .page-header
    .ui.grid
      .four.column.row
        .right.floated.column
          h2.ui.header
            i.building.icon
            .content
              span.indent-me المكاتب
        .left.floated.column
          button.ui.left.floated.button.primary-btn(ui-sref='dashboard.management.offices-manage')
            i.add.icon
            span اضافة مكتب
  .page-body
    .ui.grid.centered-pagin
      table.ui.striped.table.right.aligned(ng-table='ctrl.offices.tableParams')
        tbody
          tr(ng-repeat='row in $data track by row.id')
            td(data-title="'رقم'", sortable="'id'") {{row.id}}
            td(data-title="'الاسم'", sortable="'name'") {{row.name}}
            td(data-title="'العنوان'") {{row.address}}
            td(data-title="'رقم الجوال'") {{row.phone}}
            td(data-title="'عدد المدارس'") {{row.num_of_schools}}
            td(data-title="'عرض المكتب'")
              a.preview(ui-sref='dashboard.management.custom-office.info({ officeID: row.id })')
                i.large.unhide.icon
            td(data-title="'خصائص'")
              a.edit(ui-sref='dashboard.management.editoff({ officeID: row.id })')
                i.large.write.icon
              a.delete
                i.large.trash.outline.icon
