#office-info(ng-show='showContent') 
  .ui.tab.active(ng-class="{'active': isState('dashboard.management.custom-office.info')}")
    .ui.grid
      .eleven.wide.column
        .ui.items
          .item
            .img-upload.cont
              .ui.small.image
                img(src='{{ ctrl.offices.customOffice.info.picture }}')
            .content.indent-me
              .ui.list
                .item
                  i.large.university.icon
                  a.content(ui-sref='dashboard.management.custom-depart.info({ departID: ctrl.offices.customOffice.info.department.id })')
                    h4.ui.header.applied-font.indent-me {{ctrl.offices.customOffice.info.department.name || "غير متوفر بعد"}}
                .item
                  i.large.building.icon
                  .content
                    h4.ui.header.applied-font.indent-me {{ctrl.offices.customOffice.info.name || "غير متوفر بعد"}}
                .item
                  i.large.marker.icon
                  .content
                    h4.ui.header.applied-font.indent-me {{ctrl.offices.customOffice.info.address || "غير متوفر بعد"}}
                .item
                  i.large.mobile.icon
                  .content
                    h4.ui.header.applied-font.indent-me {{ ctrl.offices.customOffice.info.phone || "غير متوفر بعد"  }}
                .item
                  i.large.student.icon
                  .content
                    h4.ui.header.applied-font.indent-me {{ ctrl.offices.customOffice.info.num_of_schools + " مدرسة " || "غير متوفر بعد"  }}
      
      .five.wide.column
        canvas#pie.chart.chart-base(chart-data='ctrl.adminStatistics.all.data', chart-labels='ctrl.adminStatistics.all.labels', chart-colors='ctrl.adminStatistics.all.colors', chart-type='ctrl.adminStatistics.all.type')
    .ui.grid.page-body
      table.ui.striped.table.right.aligned
        thead
          tr
            th المسئولون
            th الاسم
            th رقم الجوال
            th البريد الالكتروني
        tbody
          tr(ng-repeat="contact in ctrl.offices.customOffice.info.contacts")
            td {{ contact.position_vis }}
            td {{ contact.name }}
            td {{ contact.phone }}
            td {{ contact.email }}
          tr.center.aligned(ng-if='ctrl.offices.customOffice.info.contacts.length == 0')
            td(colspan="4")
              h4.ui.header.applied-font لا يوجد محتوي بعد
