#depart-gallery {
  .page-body {
    table {
      tbody {
        .ui.label {
          i {
            margin: 0;
          }
        }
      }
    }
  }
}

#custom-depart {
  .ui.items {
    .item {
      margin-bottom: 10px;

      .content {
        h3 {
          margin-right: 10px;
        }
      }
    }
  }
}
