@import '../../shared/variables';
#course-process {
  label{
    margin-right: 0px;
    margin-bottom: 5px;
  }
  #process-course-form {
    .course-choice {
      label {
        display: inline-flex;
        position: relative;
        right: -13px;
        float: right;
      }
      .course-type {
        margin-right: 7px;
      }
    }
  }
}
