#custom-depart
  .ui.secondary.pointing.menu
    a.item(ng-class="{'active': isState('dashboard.management.custom-student.info')}", ui-sref="dashboard.management.custom-student.info")
      h4.ui.header.applied-font  الملف الشخصي
    a.item(ng-class="{'active': isState('dashboard.management.custom-student.tutorial')}", ui-sref="dashboard.management.custom-student.tutorial")
      h4.ui.header.applied-font الدورات
    a.item(ng-class="{'active': isState('dashboard.management.custom-student.exam')}", ui-sref="dashboard.management.custom-student.exam")
      h4.ui.header.applied-font اختبارات
    .left.menu 
      .item 
        a.ui.icon.button.approving(ui-sref='dashboard.management.editstud({ studentID: currentStudenID })')
          i.setting.icon
        a.ui.icon.button.warning(style='margin-right: 0.5rem;')
          i.trash.outline.icon 
  .ui.segment
    ui-view


