#student-gallery(ng-show='showContent')
  .page-header
    .ui.grid
      .four.column.row
        .right.floated.column
          h2.ui.header
            i.user.icon
            .content
              span.indent-me الطلاب
        .left.floated.column
          button.ui.left.floated.button.primary-btn(ui-sref='dashboard.management.students-manage')
            i.add.icon
            span اضافة طالب
  .page-body
    .ui.grid.centered-pagin
      table.ui.striped.table.right.aligned(ng-table='ctrl.students.tableParams')
        tbody
          tr(ng-repeat='row in $data track by row.id')
            td(data-title="'رقم'", sortable="'id'") {{row.id}}
            td(data-title="' اسم الطالب'", sortable="'name'") {{row.name}}
            td(data-title="'العنوان'") {{row.address}}
            td(data-title="'رقم الجوال'") {{row.phone}}
            td(data-title="'عرض الطالب'")
              a.preview(ui-sref='dashboard.management.custom-student.info({ studentID: row.id })')
                i.large.unhide.icon
            td(data-title="'خصائص'")
              a.edit(ui-sref='dashboard.management.editstud({ studentID: row.id })')
                i.large.write.icon
              a.delete
                i.large.trash.outline.icon
