#student-tutorial(ng-show='showContent')
  .ui.tab(ng-class="{'active': isState('dashboard.management.custom-student.tutorial')}")
    .page-header
      .ui.grid
        .eight.wide.column
          h2.ui.header.applied-font التقدم الكلي
        .eight.wide.column.left.floated
          .ui.teal.progress(data-value="73", data-total="100" id='overall-progress')
            .bar
              .progress.left.floated
            .label 73%
    .page-body
      .ui.grid
        table.ui.striped.table.right.aligned
          thead
            tr
              th اسم الدورة
              th تاريخ البداية
              th التقدم
          tbody
            tr(ng-repeat="x in [1,2,3]")
              td مقدمة في علم الاحياء
              td 12/12/2017
              td 50%
