#student-info(ng-show='showContent')
  .ui.tab(ng-class="{'active': isState('dashboard.management.custom-student.info')}")
    .ui.grid
      .eleven.wide.column
        .ui.items
          .item
            .img-upload.cont
              .ui.small.image
                img(src= '{{ctrl.students.customStudent.info.picture || "assets/images/dep.jpg"}}')
            .content.indent-me
              .ui.list
                .item
                  i.large.user.icon
                  .content
                    h4.ui.header.applied-font.indent-me {{ ctrl.students.customStudent.info.name || "لا يوجد محتوي بعد" }}
                .item
                  i.university.icon
                  .content
                    h4.ui.header.applied-font.indent-me {{ ctrl.students.customStudent.info.department.name || "لا يوجد محتوي بعد" }}
                .item
                  i.building.icon
                  .content
                    h4.ui.header.applied-font.indent-me {{ ctrl.students.customStudent.info.office.name || "لا يوجد محتوي بعد" }}
                .item
                  i.large.student.icon
                  .content
                    h4.ui.header.applied-font.indent-me {{ ctrl.students.customStudent.info.school.name || "لا يوجد محتوي بعد" }}
                .item
                  i.large.marker.icon
                  .content
                    h4.ui.header.applied-font.indent-me {{ ctrl.students.customStudent.info.address || "لا يوجد محتوي بعد" }}
                .item
                  i.large.mobile.icon
                  .content
                    h4.ui.header.applied-font.indent-me {{ ctrl.students.customStudent.info.phone || "غير متوفر بعد"  }}

    .ui.grid.page-body
      table.ui.striped.table.right.aligned
        thead
          tr
            th المدرسة
            th الصف
            th القسم 
        tbody
          tr 
            td {{ ctrl.students.customStudent.info.school.name }}
            td {{ ctrl.students.customStudent.info.academic_year_vis }}
            td {{ ctrl.students.customStudent.info.academic_division_vis }}
