#manage-student-cont
  .page-header
    .ui.grid
      .four.wide.column
        .right.floated.column
          h2.ui.header
            i.student.icon
            .content
              span.indent-me(ng-hide="studUpdate")  اضافة طالب
              span.indent-me(ng-show="studUpdate")   تعديل طالب 
  .page-body
    .ui.grid
      .sixteen.wide.column
        .student-info(ng-hide='ctrl.studentManage.contacts.state')
          #student-manage-form.ui.form
            .field 
              label صورة الطالب          
              .img-upload.cont
                label(for='student-logo')
                  .ui.small.image 
                    img#student-logo-preview(src='{{ ctrl.studentManage.profile.picture || "assets/images/dep.jpg"}}', alt="student logo" )
                    .card.img-placeholder 
                      h3.ui.icon.header
                        i.upload.icon 
                .field
                  input(id='student-logo' type='file', files-model='ctrl.studentManage.profile.picture', style='display:none;')        
            .three.fields
              .field
                label اسم الطالب
                input.applied-font(type='text', name='studName', placeholder='اسم الطالب', ng-model='ctrl.studentManage.profile.name')
              .field
                label العنوان
                input.applied-font(type='text', name='studAddress', placeholder='العنوان', ng-model='ctrl.studentManage.profile.address')
              .field
                label رقم الجوال
                input.applied-font(type='text', name='studPhone', placeholder='رقم الجوال', ng-model='ctrl.studentManage.profile.phone')
            .two.fields 
              .field
                label الصف
                select.ui.dropdown.form-dropdown.applied-font(name="academicYear", ng-model="ctrl.studentManage.profile.academic_year", ng-change="ctrl.studentManage.profile.academic_division = ''")
                  option(value="", disabled) السنة الأكاديمية
                  option(value="1") الصف الأول
                  option(value="2") الصف الثاني
                  option(value="3") الصف الثالث
              .field(ng-if="ctrl.studentManage.profile.academic_year === '2' || ctrl.studentManage.profile.academic_year === '3' ")
                label القسم
                select.ui.dropdown.form-dropdown.applied-font(name="academicDivision", ng-model="ctrl.studentManage.profile.academic_division")
                  option(value="", disabled) اختر القسم
                  option(value="scientific") علمي
                  option(value="literary") أدبي
            .three.fields 
              .field(ng-if='userRole === "admin" ')
                label الاداره التابع لها
                select.ui.dropdown.form-dropdown.applied-font(id="departSelect", name="department-id", ng-model="ctrl.studentManage.profile.department_id", ng-click="ctrl.laterFunc(this);")
                  option(value="", disabled) الاداره   التابع له                 
                  option(ng-repeat="depart in ctrl.studentManage.availableDeparts", ng-value="{{ depart.id }}") {{ depart.name }}
              .field(ng-if='userRole === "admin" || userRole === "department" ')
                label المكتب التابع لها
                select#officeSelect.ui.dropdown.form-dropdown.applied-font(name="office-id", ng-model="ctrl.studentManage.profile.office_id", ng-disabled='studUpdate', ng-change="ctrl.laterFunc(this);")
                  option(value="", disabled) المكتب التابع له
                  option(ng-repeat="office in ctrl.studentManage.availableOffices", ng-value="{{ office.id }}") {{ office.name }}
              .field(ng-if='userRole === "admin" || userRole === "department" ')
                label المدرسة التابع لها
                select#schoolSelect.ui.dropdown.form-dropdown.applied-font(name="office-id", ng-model="ctrl.studentManage.profile.school_id", ng-disabled='studUpdate', ng-change="ctrl.laterFunc(this);")
                  option(value="", disabled) المدرسة التابع له
                  option(ng-repeat="school in ctrl.studentManage.availableSchools", ng-value="{{ school.id }}") {{ school.name }}
            .field
              .ui.error.message  
            .ui.primary.submit.button.primary-btn.applied-font(ng-if='studUpdate') حفظ                   
            .ui.primary.submit.button.primary-btn.applied-font(ng-if='!studUpdate') اضافة
