#student-exam(ng-show='showContent')
  .ui.tab(ng-class="{'active': isState('dashboard.management.custom-student.exam')}")
    .page-body
      .ui.grid
        table.ui.striped.table.right.aligned
          thead
            tr
              th اسم الاختبار
              th الحالة
              th الدرجة
              th جوائز
          tbody
            tr(ng-repeat="x in [1,2,3]")
              td كمي
              td اجتاز
              td 66 / 80
              td مبروك كسبت كيس قلبظ
