#custom-office(ng-show='showContent')
  .ui.secondary.pointing.menu
    a.item(ng-class="{'active': isState('dashboard.management.profile.basic')}", ui-sref="dashboard.management.profile.basic")
      h4.ui.header.applied-font   الاساسية
    a.item(ng-class="{'active': isState('dashboard.management.profile.access')}", ui-sref="dashboard.management.profile.access")
      h4.ui.header.applied-font  الوصول
    a.item(ng-class="{'active': isState('dashboard.management.profile.contract')}", ui-sref="dashboard.management.profile.contract")
      h4.ui.header.applied-font التعاقد
  .ui.segment
    ui-view

