#profile-basic(ng-show='showContent')
  .ui.tab(ng-class="{'active': isState('dashboard.management.profile.basic')}")
    .ui.grid
      .ten.wide.column
        .profil-basic-cont
          form.ui.form(ng-submit='ctrl.updateProfile()')
            .field(ng-repeat='field in ctrl.fieldView  track by $index')  
              label {{ field.label }} 
              input.applied-font(type='{{ field.type }}', name='{{ field.name }}', placeholder='{{ field.label }}', ng-model='field.model')
            button.ui.button.primary-btn.applied-font(type='submit') حفظ
      .six.wide.column 
        .profil-logo-cont
          form(ng-submit='ctrl.updateLogo()')
            .img-upload.cont
              label(for='profile-logo')
                .ui.centered.small.image
                  img(src="{{ profile.picture || 'assets/images/profile-placeholder.png'}}", alt="profile.logo")
                  .card.img-placeholder 
                    h3.ui.icon.header
                      i.upload.icon 
            .field(style='display:inline-block;')
              input(id='profile-logo' type='file', files-model='ctrl.files', style='display:none;' required)
            button.ui.button.primary-btn.applied-font(type='submit', ng-disabled='angular.isUndefined(ctrl.files)') تحديث
            

