doctype html
html
  head
    meta(charset='UTF-8')
    title Project Name
    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    link(rel='icon', href='/favicon.ico', type='image/x-icon')
    // bower:css 
    // endbower 

    // injector:css 
    // endinjector 
  body(ng-app='app')


    progress(value='{{ progress }}', max='100', ng-show='progress')  
    //- loading section (global loading)
    .ui.inverted.dimmer.loading-dimmer(ng-class="{ 'active': loading }")
      .ui.text.loader جاري التحميل

    //- content
    ui-view

    // bower:js 
    // endbower  
    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.2/quill.core.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.2/quill.min.js")      
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ng-quill/3.3.1/ng-quill.min.js")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.2/quill.bubble.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.2/quill.snow.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.2/quill.core.min.css')
    
    // injector:js 
    // endinjector 
