#shared-login-mod {
  .ui.grid {
    margin: 0px;
    .nine.wide.column {
      padding: 0px;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      .login-cont {
        width: 65%;
        text-align: center;
        margin-top: -25px;
        .logo {
          padding: 25px;
        }
        form {
          text-align: right;
          label {
            font-weight: 600;
          }
        }
      }
    }
    .left-cont {
      padding: 0px;
      background-color: #282f3c;
      .cover-cont {
        text-align: center;
        width: 100%;
        padding: 3rem;
        padding-top: 2rem;
        .ui.fluid.image {
          width: 90%;
          display: inline-block;
        }
        .ui.horizontal.divider {
          margin: 2.5vh 0rem;
        }
      }
    }
  }
  .team-info {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: none;
    width: 100%;
    text-align: center;
    color: white;
    justify-content: center;
    border: none;
    .copy-right {
      display: block;
      color: white;
      margin-bottom: 10px;
      font-weight: 300;
    }
    .powered {
      position: absolute;
      bottom: 5px;
      .ui.small.image {
        display: inline-block;
        width: 100px;
      }
      .content {
        display: inline-block;
        .ui.sub.header {
          display: inline-block;
          color: white;
          font-size: 13px;
          font-weight: 500;
          text-transform: initial;
        }
      }
    }
  }
}

.login-desc-cont {
  color: white;
  margin-top: 10vh;
  .item {
    .bottom.aligned.content {
      padding-right: 1rem;
      text-align: justify;
    }
    .flag {
      padding: 5px !important;
      width: auto !important;
      img {
        width: auto !important;
        height: 60px !important;
      }
    }
  }
}

.flag-cont {
  justify-content: center !important;
}
