#shared-login-mod(ng-show='showContent')
  .ui.grid
    .sixteen.wide.mobile.seven.wide.tablet.nine.wide.computer.column
      .login-cont  
        .ui.medium.image
          img.logo(src='assets/images/login-logo.png')
        form#login-form.ui.form(name='loginForm', ng-submit='ctrl.login()')
          .field
            label اسم المستخدم
            input.applied-font(
              type='text',
              name='username',
              placeholder='اسم المستخدم',
              ng-model='ctrl.credentials.username' 
            )
          .field
            label كلمة السر
            input.applied-font(
              type='password',
              name='password',
              placeholder='كلمة السر',
              ng-model='ctrl.credentials.password' 
            )
          .field
            button.ui.submit.button.primary-btn.applied-font(type='submit') تسجيل دخول
            .ui.error.message
    .sixteen.wide.mobile.nine.wide.tablet.seven.wide.computer.column.left-cont
      .cover-cont
        img.ui.fluid.image(src="assets/images/login-back.png", alt="")
        .ui.horizontal.divider 
          .ui.tiny.image
            img.logo(src='assets/images/logo-white.png') 
        .ui.items.login-desc-cont 
          .item  
            .bottom.aligned.content   نبراس: منصة تعليمية إلكترونية تهتم بتقديم المواد الدراسية الأكاديمية باللغة العربية لمدراس المملكة العربية السعودية، يقدمها أكاديميون متميزون من مختلف أرجاء العالم العربي، ومتحمسون لتوسيع دائرة المستفيدين من مخزونهم العلمي والمعرفي المتخصص
          .item.flag-cont
            .ui.small.image.flag
              img(src="assets/images/vision.png", alt="")
            .ui.small.image.flag        
              img.ui.small.image(src="assets/images/moe.png", alt="")
            .ui.small.image.flag        
              img.ui.small.image(src="assets/images/saudi-arabia.png", alt="")
        .ui.menu.team-info
          .ui.center.aligned
            h3.ui.sub.header.applied-font.copy-right جميع الحقوق © محفوظة نبراس 2017            
          .powered
            img.ui.small.image(src="assets/images/hamza.png", alt="")
            .content
              h3.ui.sub.header.applied-font Powered by 
