#account
  #top-nav.ui.top.fixed.secondary.pointing.menu
    .ui.container
      .right.menu
        .item
          img.ui.mini.image(src="assets/images/login-logo.png", alt="")
        a.item(ui-sref="account.learn.user" ui-sref-active="active") الرئيسية
        a.item(ui-sref="account.learn.course" ui-sref-active="active")  دورات
        a.item(ui-sref="account.learn.exams" ui-sref-active="active")  اختبارات 
        //- .item
        //-   .ui.left.icon.input
        //-     i.search.link.icon
        //-     input.prompt.applied-font(type='text', placeholder='بحث عن ....')
      .left.menu
        .item
          .ui.dropdown.labeled.icon.notification
            i.bell.icon
            .ui.red.label.mini.circular 6
            .menu
              .item
                span you got notification
        .item
          .ui.labeled.icon.top.left.pointing.dropdown.acc-info
            .user-info
              img.ui.mini.circular.image(src="{{ profile.picture || 'assets/images/profile-placeholder.png'}}", alt="")
              .content
                .ui.sub.header
                  p {{ profile.name }}
            i.dropdown.icon
            #profile-manage-menu.menu 
              .item.right.aligned 
                i.setting.icon
                .content
                  h5.ui.header.applied-font الاعدادات
              .ui.divider
              .item.right.aligned(ng-click='ctrl.logout()')
                i.sign.out.icon
                .content
                  h5.ui.header.applied-font تسجيل خروج

  #page-cont
    ui-view
