@import '../variables';
#account {
  #top-nav {
    background-color: $white;
    .item {
      height: 100%;
      color: $font-light;
      margin: 0px;
    }
    .item.active {
      border-color: $secondary-light;
      color: $secondary;
    }
  }
}
