#user(ng-show='showContent')
  .ui.grid.container
    .row
      .twelve.wide.column
        .ui.fixed.segment.dashed
          .ui.huge.header.applied-font مرحبـــــــاً ,,
          .ui.items
            .item
              .ui.circular.tiny.image
                img(src='{{ profile.picture || "assets/images/profile-placeholder.png"}}', alt='profile picture')
              .content.middle.aligned.indent-me
                h2.header.applied-font {{profile.name}}
                .description
                  span.header.applied-font {{ profile.academic_year_vis }} الثانوي
        .ui.fixed.segment.last-activity
          .ui.header
            i.pin.icon
            .content
              h3.applied-font اخر الأنشــــطة
          .ui.items
            .item
              .ui.header
                .sub.header مشاهدة "التفاعلات الكيمياء العضوية " من دورة مقدمة في علم الكيمياء .
            .item.desc
              .ui.horizontal.list
                .item
                  i.calendar.icon
                  .content
                    span 25 - 3 - 2017
                .item
                  i.wait.icon
                  .content
                    span 12:35 ص
              button.ui.left.floated.button.primary-btn.applied-font متابعة الدورة
      .four.wide.column
        .ui.fixed.segment.achievement
          .ui.header
            i.trophy.icon
            .content
              h3.applied-font أهم الانجازات
          .ui.divider
          .ui.image(style="margin-top: 20px; opacity: 0.6;")
            img(src='assets/images/trophy.svg')
    .row
      .twelve.wide.column
        .ui.fixed.segment.shared-course
          .ui.header
            i.pin.icon
            .content
              h3.applied-font الدورات المشترك بها
          .ui.two.cards
            .ui.fluid.card.dashed
              h3.ui.header.applied-font مقدمة في علم الأحياء
              p.applied-font لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر.
              .ui.teal.progress(data-value="73", data-total="100" id='overall-progress')
                .bar
                  .progress.left.floated
              .content
                .ui.horizontal.list
                  .item
                    i.record.icon
                    .content
                      h4.ui.header.applied-font 23 فيديو
                button.ui.left.floated.button.primary-btn.applied-font متابعة الدورة
            .ui.fluid.card.dashed
              h3.ui.header.applied-font مقدمة في علم الحاسب
              p.applied-font لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر.
              .ui.teal.progress(data-value="73", data-total="100" id='overall-progress')
                .bar
                  .progress.left.floated
              .content
                .ui.horizontal.list
                  .item
                    i.record.icon
                    .content
                      h4.ui.header.applied-font 26 فيديو
                button.ui.left.floated.button.primary-btn.applied-font متابعة الدورة
