@import '../../shared/variables';
#user {
  .last-activity {
    .desc {
      display: block;
    }
  }
  .achievement {
    position: fixed;
    max-width: 260px;
    min-height: 350px;
  }
  .shared-course {
    .ui.two.cards {
      .card {
        padding: 1rem !important;
        padding-bottom: 0rem !important;
        .ui.teal.progress {
          margin-bottom: 10px;
          border-radius: 1px;
          .bar {
            border-radius: 1px;
            background-color: $secondary-light;
          }
        }
      }
    }
  }
}
