#bank-gallery(ng-show='showContent')
  .page-header
    .ui.grid
      .four.column.row
        .right.floated.column
          h2.ui.header
            i.help.icon
            .content
              span.indent-me بنك الأسئلة
        .left.floated.column
          a.ui.left.floated.button.primary-btn(ui-sref="dashboard.management.add-bank")
            i.add.icon
            span اضافة أسئلة
  .page-body
    .ui.grid.centered-pagin
      table.ui.striped.table.right.aligned
        thead 
          th رقم
          th اسم الدورة
          th التصنيف 
          th خصائص
        tbody
          tr(ng-repeat='course in ctrl.bank.availableCourse track by $index')
            td {{$index + 1}}
            td {{course.name}}
            td {{course.category_vis}}
            td
              a.edit(ui-sref='dashboard.management.bank-manage({courseID: course.id})')
                i.large.write.icon 
