#bank-manage(ng-show='showContent')
  .page-header
    .ui.grid
      .four.column.row
        .right.floated.column
          h2.ui.header
            i.help.icon
            .content
              span.indent-me بنك الأسئلة
        .left.floated.column
          a.ui.left.floated.button.primary-btn(ui-sref="dashboard.management.add-bank")
            i.add.icon
            span اضافة أسئلة
  .page-body
    .ui.grid.centered-pagin
      table.ui.celled.striped.table.right.aligned(ng-table='ctrl.bank.availableCourse')
        tbody
          tr(ng-repeat='row in $data track by $index')
            td(data-title="'رقم'", sortable="'id'", style="border-left:1px solid rgba(34,36,38,.1); width:90px;") {{row.id}}
            td(data-title="'السؤال'", sortable="'header'") 
              .applied-font(ng-bind-html="row.header")
            td(data-title="'الاجابات المقترحة'", style="text-align:justify;") 
              .ui.divided.items
                .item(ng-repeat='suggested in row.choices')
                  .middle.aligned.content
                    .applied-font(ng-bind-html="suggested.content")
                  .ui.green.circular.label(ng-if="suggested.correct", style="height:2em;")
                    i.checkmark.icon(style='margin-right:0px;')
            td(data-title="'خصائص'", style="min-width:85px; text-align:center;")
              a.edit(ng-click="ctrl.showModal(row)")
                i.large.write.icon
              a.delete(ng-click="ctrl.deleteQuest(row)") 
                i.large.trash.outline.icon
          tr.center.aligned(ng-if='ctrl.bank.availableCourse.data.length == 0')
            td(colspan="7")
              h4.ui.header.applied-font لا يوجد محتوي بعد
      confirm-modal(confirm-obj='ctrl.confirmation') 
  .ui.fullscreen.longer.modal
    .header
      .ui.grid 
        .eight.wide.column
          .applied-font تعديل السؤال
        .eight.wide.column 
          .applied-font معاينة السؤال
    .scrolling.content 
      .ui.grid
        .eight.wide.column
          ng-quill-editor.en-dir(ng-model='ctrl.bank.editor.model')
            ng-quill-toolbar
              div
                span.ql-formats
                  button.ql-bold(ng-attr-title="{{'Bold'}}")
                  button.ql-italic(ng-attr-title="{{'Italic'}}")
                  button.ql-underline(ng-attr-title="{{'Underline'}}")
                  button.ql-strike(ng-attr-title="{{'Stike'}}")
                span.ql-formats
                  button.ql-image(ng-attr-title="{{'Image'}}")
        .eight.wide.column
          .ui.segment.question-preview
            .question-preview-header
              .ui.grid 
                .twelve.wide.column
                  div(ng-bind-html="ctrl.bank.newBank.questionFormat.header")
                .four.wide.column
                  a.edit-question(ng-click='ctrl.updateQuestion()', ng-if='!ctrl.bank.editor.titleEdit')
                    i.large.write.icon   
                  a.ui.green.circular.label.done-edit(ng-click='ctrl.updateQuestion()', ng-if='ctrl.bank.editor.titleEdit')
                    i.large.checkmark.icon   
            .ui.divider
            .question-preview-content 
              table.ui.striped.table.right.aligned
                tbody
                  tr(ng-repeat="ans in ctrl.bank.newBank.questionFormat.choices track by $index")
                    td 
                      .ui.checkbox
                        input(id='rightOne{{$index}}', type='checkbox', name='rightAns', ng-model="ans.correct")
                        label(for='rightOne{{$index}}')
                          .bank-type.applied-font.indent-me(ng-bind-html="ans.content")    
                    td 
                      a.edit(id='editans{{$index}}', ng-click='ctrl.updateAnswer(ans, $index)')
                        i.large.write.icon   
                      a.ui.green.circular.label.done-edit(id='finishans{{$index}}', ng-click='ctrl.updateAnswer(ans, $index)', style='display: none;')
                        i.large.checkmark.icon   
                      a.delete(ng-click="ctrl.deleteSuggestedAns(ans)")
                        i.large.trash.outline.icon                            
    .actions
      .ui.warn-btn.button(ng-click='ctrl.discardNewQuest()')
        span.applied-font رجوع
        i.close.icon
