#bank-process
  .page-header
    .ui.grid
      .four.wide.column
        .right.floated.column
          h2.ui.header
            i.book.icon
            .content
              span.indent-me الدورات المتاحة 
      .twelve.wide.column
        .ui.three.steps.en-dir.steps-cont
          .step(ng-class="{'active': ctrl.bank.steps.fStep}")
            .content
              .title.applied-font معلومات الدورة
                i.truck.icon
          .step(ng-class="{'active': ctrl.bank.steps.sStep}")
            .content
              .title.applied-font اضافة الاسئلة
                i.add.icon
  .page-body
    .ui.grid 
      .sixteen.wide.column
        .first-step(ng-show='ctrl.bank.steps.fStep')
          table.ui.striped.table.right.aligned
            thead 
              th رقم
              th اسم الدورة
              th التصنيف 
              th خصائص
            tbody
              tr(ng-repeat='course in ctrl.bank.availableCourse track by $index')
                td {{$index + 1}}
                td {{course.name}}
                td {{course.category_vis}}
                td  
                  a.ui.button.primary-btn(ng-click='ctrl.moveToQuestion(course.id)')
                    i.add.icon
                    span اضافة

        .second-step(ng-show='ctrl.bank.steps.sStep')
          .question-cont   
            .ui.grid
              .eight.wide.column
                .add-question-wizard(ng-hide="ctrl.bank.newBank.questionFormat.header")
                  span.applied-font.pull-right اضف رأس السؤال ثم اضغط متابعة لإضافة الاختيارات المقترحة 
                  button.ui.button.primary-btn.applied-font(type="button", ng-click="ctrl.addQuesTitle()") متابعة 
                .add-choice-wizard(ng-show="ctrl.bank.newBank.questionFormat.header")
                  span.applied-font.pull-right اضف الاختيارات المقترحة " يمكنك اضافة اكثر من اختيار"
                  button.ui.button.primary-btn.applied-font(type="button", ng-click="ctrl.addSuggAns()") اضافة 
                ng-quill-editor.en-dir(ng-model='ctrl.bank.editor.model')
                  ng-quill-toolbar
                    div
                      span.ql-formats
                        button.ql-bold(ng-attr-title="{{'Bold'}}")
                        button.ql-italic(ng-attr-title="{{'Italic'}}")
                        button.ql-underline(ng-attr-title="{{'Underline'}}")
                        button.ql-strike(ng-attr-title="{{'Stike'}}")
                      span.ql-formats
                        button.ql-image(ng-attr-title="{{'Image'}}")
              .eight.wide.column
                .ui.segment.question-preview
                  .question-preview-header
                    div(ng-bind-html="ctrl.bank.newBank.questionFormat.header")
                  .ui.divider
                  .question-preview-content 
                    table.ui.striped.table.right.aligned
                      tbody
                        tr(ng-repeat="ans in ctrl.bank.newBank.questionFormat.choices track by $index")
                          td 
                            .ui.checkbox
                              input(id='rightOne{{$index}}', type='checkbox', name='rightAns', ng-model='ans.correct' )
                              label(for='rightOne{{$index}}')
                                .applied-font(ng-bind-html="ans.content")                                  
            .ui.grid
              .sixteen.wide.column
                .ui.primary-btn.button(ng-click='ctrl.saveNewQuest()')
                  span.applied-font اضافة
                  i.add.outline.icon
