@import '../../shared/variables';
#course-gallery {
  .card {
    border-radius: 1px;
    cursor: pointer;
    box-shadow: none;
    border: 1px solid $border;
    transition: all 0.3s ease;
    &:hover {
      -webkit-box-shadow: 0px 2px 10px 0px rgba(78, 88, 103, 0.2);
      -moz-box-shadow: 0px 2px 10px 0px rgba(78, 88, 103, 0.2);
      box-shadow: 0px 2px 10px 0px rgba(78, 88, 103, 0.2);
    }
    img {
      border-radius: 1px;
    }
  }
}

#course-view {
  .course-cover {
    height: 300px;
    background-size: cover;
  }
  .course-block {
    padding: 20px 0px;
  }
}

#video-view {
  .video-details {
    display: block;
    margin: 15px 0px;
    .ui.medium.header {
      display: inline-block;
      margin-bottom: 0px;
      margin-top: 6px;
    }
  }
  .video-interaction {
    margin-top: 20px;
    .ui.comments {
      max-width: none;
      .comment {
        .avatar {
          float: right;
          img {
            border-radius: 100% !important;
          }
        }
        .indent-me {
          margin-right: 3.1rem !important;
        }
      }
      .child {
        margin-right: 17px;
      }
    }
  }
}

.active-video {
  background-color: rgba(78, 88, 103, 0.2) !important;
}

.videos-list {
  height: 60vh;
  overflow-y: auto;
  .item {
    cursor: pointer;
    .ui.dimmer {
      background-color: rgba(255, 255, 255, 0.3);
      .play-icon {
        svg {
          height: 30px;
          display: inline-block;
          -webkit-transition: all 0.3s ease !important;
          -moz-transition: all 0.3s ease !important;
          -ms-transition: all 0.3s ease !important;
          -o-transition: all 0.3s ease !important;
          transition: all 0.3s ease !important;
          path {
            fill: $secondary-light;
          }
        }
      }
    }
    .content {
      a.header {
        font-size: 16px !important;
        font-weight: 300 !important;
      }
      .duration {
        padding-left: 5px;
      }
    }
  }
}

.progress-details {
  justify-content: center;
  text-align: center;
  .ui.statistics {
    display: inherit;
    .statistic {
      .value,
      .label {
        color: $secondary;
      }
    }
  }
}

.course-sidebar-cont {
  position: fixed !important;
  max-width: 340px;
}
