@import '../../shared/variables';
#profile-basic {
  .profil-basic-cont {
    border-left: 1px solid $border;
    padding-left: 2rem;
  }
  .ui.teal.progress {
    border-radius: 1px;
    .bar {
      background-color: $secondary-light;
      border-radius: 1px;
      .progress {
        left: 12px;
      }
    }
  }
}
