#custom-depart
  .ui.secondary.pointing.menu
    a.item(ng-class="{'active': isState('dashboard.management.custom-school.info')}", ui-sref="dashboard.management.custom-school.info")
      h4.ui.header.applied-font  المدرسة
    a.item(ng-class="{'active': isState('dashboard.management.custom-school.student')}", ui-sref="dashboard.management.custom-school.student")
      h4.ui.header.applied-font الطلاب
    .left.menu 
      .item 
        a.ui.icon.button.approving(ui-sref='dashboard.management.editsch({ schoolID: currentSchoolID })')
          i.setting.icon
        a.ui.icon.button.warning(style='margin-right: 0.5rem;')
          i.trash.outline.icon 
  .ui.segment
    ui-view

