#manage-school-cont
  .page-header
    .ui.grid
      .four.wide.column
        .right.floated.column
          h2.ui.header
            i.student.icon
            .content
              span.indent-me(ng-hide="schUpdate")  اضافة مدرسة
              span.indent-me(ng-show="schUpdate")   تعديل مدرسة
      .twelve.wide.column 
        .steps-cont.ui.two.steps.en-dir
          .step.fstep(ng-class="{'active': !ctrl.schoolManage.contacts.state}", ng-click="ctrl.checkContactStatus()")
            .content
              .title.applied-font معلومات المدرسة
            i.student.icon              
          .step.sstep(ng-class="{'active': ctrl.schoolManage.contacts.state}", ng-click="ctrl.checkContactStatus()")
            .content
              .title.applied-font معلومات التواصل
            i.user.icon  
  .page-body
    .ui.grid
      .sixteen.wide.column
        .school-info(ng-hide='ctrl.schoolManage.contacts.state')
          #school-manage-form.ui.form
            .field 
              label شعار المدرسة          
              .img-upload.cont
                label(for='school-logo')
                  .ui.small.image 
                    img#school-logo-preview(src='{{ ctrl.schoolManage.profile.picture || "assets/images/dep.jpg"}}', alt="school logo" )
                    .card.img-placeholder 
                      h3.ui.icon.header
                        i.upload.icon 
                .field
                  input(id='school-logo' type='file', files-model='ctrl.schoolManage.profile.picture', style='display:none;')        
            .two.fields
              .field
                label اسم المدرسة
                input.applied-font(type='text', name='schName', placeholder='اسم المدرسة', ng-model='ctrl.schoolManage.profile.name')
              .field
                label العنوان
                input.applied-font(type='text', name='schAddress', placeholder='العنوان', ng-model='ctrl.schoolManage.profile.address')
            .three.fields 
              .field
                label رقم الجوال
                input.applied-font(type='text', name='schoolPhone', placeholder='رقم الجوال', ng-model='ctrl.schoolManage.profile.phone')
              .field(ng-if='userRole === "admin" ')
                label الاداره التابع لها
                select.ui.dropdown.select-menu(name="department-id", ng-model="ctrl.schoolManage.profile.department_id", ng-disabled='schUpdate')
                  option.applied-font(ng-repeat="depart in ctrl.schoolManage.availableDeparts", ng-value="{{ depart.id }}") {{ depart.name }}
              .field(ng-if='userRole === "admin" || userRole === "department" ')
                label المكتب التابع لها
                select.ui.dropdown.select-menu(name="office-id", ng-model="ctrl.schoolManage.profile.office_id", ng-disabled='ctrl.schoolManage.profile.office_id')
                  option.applied-font(ng-repeat="office in ctrl.schoolManage.availableOffices", ng-value="{{ office.id }}") {{ office.name }}
            .field
              .ui.error.message  
            .ui.primary.submit.button.primary-btn.applied-font(ng-if='schUpdate') حفظ                   
            .ui.primary.submit.button.primary-btn.applied-font(ng-if='!schUpdate') اضافة
        .contact-info(ng-show='ctrl.schoolManage.contacts.state')
          .ui.grid 
            .sixteen.wide.column 
              a.ui.button.primary-btn.pull-right(ng-click="ctrl.showModal()")
                i.add.icon
                span إضافة معلومات تواصل
              a.ui.button.primary-btn.pull-left(ui-sref="dashboard.management.schools-gallery")
                i.close.icon
                span تخطي
          table.ui.striped.table.right.aligned
            thead
              tr
                th رقم
                th الاسم
                th الوظيفة
                th رقم الجوال
                th البريد الالكتروني
                th(ng-show="schUpdate") خصائص
            tbody
              tr(ng-repeat="contact in ctrl.schoolManage.contacts.contactList track by $index")
                td {{ $index+1 }}
                td {{ contact.name }}
                td {{ contact.position_vis }}
                td {{ contact.phone }}
                td {{ contact.email }}
                td(ng-show="schUpdate")
                  a.edit(ng-click="ctrl.showModal(contact)")
                    i.large.write.icon
              tr.center.aligned(ng-if='ctrl.schoolManage.contacts.contactList.length == 0')
                td(colspan="5")
                  h4.ui.header.applied-font لا يوجد محتوي بعد
  // add new contact modal 
  .ui.modal.school-contact-manage 
    .header.applied-font إضافة معلومات تواصل جديدة
    .content.right-aligned
      .ui.form#manage-school-contact
        .two.fields
          .field
            label الاسم
            input.applied-font(type='text', name='contactName', placeholder='الاسم', ng-model='ctrl.schoolManage.contacts.content.name')
          .field
            label الوظيفة
            select.ui.dropdown.select-menu(name="contactPosition", ng-model="ctrl.schoolManage.contacts.content.position")
              option(value='manager') مدير
              option(value='vice_manager_males') نائب شئون البنين
              option(value='vice_manager_females') نائب شئون البنات
              option(value='system_manager') مسئول التطبيق
        .two.fields
          .field
            label البريد الالكتروني
            input.applied-font(type='email', name='contactMmail', placeholder='البريد الالكتروني', ng-model='ctrl.schoolManage.contacts.content.email')
          .field
            label الجوال
            input.applied-font(type='text', name='contactPhone', placeholder='الجوال', ng-model='ctrl.schoolManage.contacts.content.phone')
        .field
          .ui.error.message  
        .modal-actions 
          .ui.submit.button.primary-btn(ng-hide='ctrl.schoolManage.contacts.edit')
            span.applied-font اضافة
            i.add.outline.icon
          .ui.submit.button.primary-btn(ng-show='ctrl.schoolManage.contacts.edit')
            span.applied-font حفظ
            i.write.icon
          .ui.warn-btn.button(ng-click='ctrl.discardNewContact()')
            span.applied-font رجوع
            i.close.icon 
