#school-info(ng-show='showContent')
  .ui.tab(ng-class="{'active': isState('dashboard.management.custom-school.info')}")
    .ui.grid
      .eleven.wide.column
        .ui.items
          .item
            .img-upload.cont
              .ui.small.image
                img(src='{{ ctrl.schools.customSchool.info.picture || "assets/images/dep.jpg"}}')
            .content.indent-me
              .ui.list
                .item
                  i.large.university.icon
                  .content
                    h4.ui.header.applied-font.indent-me {{ctrl.schools.customSchool.info.department.name || "غير متوفر بعد"}}
                .item
                  i.large.building.icon
                  .content
                    h4.ui.header.applied-font.indent-me {{ctrl.schools.customSchool.info.office.name || "غير متوفر بعد"}}
                .item
                  i.large.student.icon
                  .content
                    h4.ui.header.applied-font.indent-me {{ctrl.schools.customSchool.info.name || "غير متوفر بعد"}}
                .item
                  i.large.marker.icon
                  .content
                    h4.ui.header.applied-font.indent-me {{ctrl.schools.customSchool.info.address || "غير متوفر بعد"}}
                .item
                  i.large.mobile.icon
                  .content
                    h4.ui.header.applied-font.indent-me {{ ctrl.schools.customSchool.info.phone || "غير متوفر بعد"  }}

    .ui.grid.page-body
      table.ui.striped.table.right.aligned
        thead
          tr
            th المسئولون
            th الاسم
            th رقم الجوال
            th البريد الالكتروني
        tbody
          tr(ng-repeat="contact in ctrl.schools.customSchool.info.contacts")
            td {{ contact.position_vis }}
            td {{ contact.name }}
            td {{ contact.phone }}
            td {{ contact.email }}
          tr.center.aligned(ng-if='ctrl.schools.customSchool.info.contacts.length == 0')
            td(colspan="4")
              h4.ui.header.applied-font لا يوجد محتوي بعد
