#school-gallery(ng-show='showContent')
  .page-header
    .ui.grid
      .four.column.row
        .right.floated.column
          h2.ui.header
            i.building.icon
            .content
              span.indent-me المدارس
        .left.floated.column
          button.ui.left.floated.button.primary-btn(ui-sref='dashboard.management.schools-manage')
            i.add.icon
            span اضافة مدرسة
  .page-body
    .ui.grid.centered-pagin
      table.ui.striped.table.right.aligned(ng-table='ctrl.schools.tableParams')
        tbody
          tr(ng-repeat='row in $data track by row.id')
            td(data-title="'رقم'" , sortable="'id'") {{ row.id }}
            td(data-title="'اسم المدرسة'" , sortable="'name'") {{ row.name }}
            td(data-title="'العنوان'") {{ row.address }}
            td(data-title="'رقم الجوال'") {{ row.phone }}
            td(data-title="'عرض المدرسة'")
              a.preview(ui-sref='dashboard.management.custom-school.info({ schoolID: row.id })')
                i.large.unhide.icon
            td(data-title="'خصائص'")
              a.edit(ui-sref='dashboard.management.editsch({ schoolID: row.id })')
                i.large.write.icon
              a.delete
                i.large.trash.outline.icon
