#confirm-modal
  .ui.small.modal
    .header 
      h3.ui.header.applied-font تحذير !!
    .image.content
      h4.ui.header.applied-font هل تريد حذف "{{confirmObj.name}}" ؟
    .actions
      .ui.warn-btn.button(ng-click='confirmObj.confirm()')
        span.applied-font حذف
        i.trash.outline.icon
      .ui.primary-btn.button(ng-click='confirmObj.cancel()')
        span.applied-font رجوع
        i.close.icon              

