#statistics-container
  .ui.grid
    .four.wide.column(ng-if='statisticObj.departments.data')
      .ui.divided.selection.list
        a.item(ng-repeat='data in statisticObj.departments.data track by $index')
          .ui.horizontal.label(style='background-color: {{ statisticObj.departments.colors[$index] }}; color: white;') {{ data }}
          |   مكتب بــ  {{ statisticObj.departments.labels[$index] }}
    .four.wide.column(ng-if='statisticObj.departments.data')
      canvas#doughnut.chart.chart-doughnut(chart-data='statisticObj.departments.data', chart-labels='statisticObj.departments.labels', chart-colors='statisticObj.departments.colors')
    .four.wide.column(ng-if='statisticObj.offices.data')
      .ui.divided.selection.list
        a.item(ng-repeat='data in statisticObj.offices.data track by $index')
          .ui.horizontal.label(style='background-color: {{ statisticObj.offices.colors[$index] }}; color: white;') {{ data }}
          |   مدرسة بــ  {{ statisticObj.offices.labels[$index] }}
    .four.wide.column(ng-if='statisticObj.offices.data')
      canvas#doughnut.chart.chart-doughnut(chart-data='statisticObj.offices.data', chart-labels='statisticObj.offices.labels', chart-colors='statisticObj.departments.colors')
    .sixteen.wide.column
      canvas#line.chart.chart-line(chart-data='statisticObj.studentActivity.data', chart-labels='statisticObj.studentActivity.labels', chart-series='statisticObj.studentActivity.series', chart-options='statisticObj.studentActivity.options', chart-dataset-override='statisticObj.studentActivity.datasetOverride')
