#custom-depart
  .ui.secondary.pointing.menu
    a.item(ng-class="{'active': isState('dashboard.management.custom-depart.info')}", ui-sref="dashboard.management.custom-depart.info")
      h4.ui.header.applied-font  الإدارة
    a.item(ng-class="{'active': isState('dashboard.management.custom-depart.office')}", ui-sref="dashboard.management.custom-depart.office")
      h4.ui.header.applied-font المكتب
    a.item(ng-class="{'active': isState('dashboard.management.custom-depart.school')}", ui-sref="dashboard.management.custom-depart.school")
      h4.ui.header.applied-font المدرسة
    a.item(ng-class="{'active': isState('dashboard.management.custom-depart.student')}", ui-sref="dashboard.management.custom-depart.student")
      h4.ui.header.applied-font الطلاب
    .left.menu 
      .item 
        a.ui.icon.button.approving(ui-sref='dashboard.management.editdep({ departID: currentDepartID })')
          i.setting.icon
        a.ui.icon.button.warning(style='margin-right: 0.5rem;')
          i.trash.outline.icon 
  .ui.segment
    ui-view
