#admin-new-department 
  .first-step 
    .page-header
      .ui.grid
        .four.wide.column
          .right.floated.column
            h2.ui.header
              i.university.icon
              .content
                span.indent-me(ng-hide="depUpdate")  اضافة إدارة
                span.indent-me(ng-show="depUpdate")   تعديل إدارة
        .twelve.wide.column 
          .steps-cont.ui.two.steps.en-dir
            .step.fstep(ng-class="{'active': !ctrl.departs.newDep.contacts.state}", ng-click='ctrl.checkManageStatus()')
              .content
                .title.applied-font معلومات الإدارة
              i.university.icon              
            .step.sstep(ng-class="{'active': ctrl.departs.newDep.contacts.state}", ng-click='ctrl.checkManageStatus()')
              .content
                .title.applied-font معلومات التواصل
              i.user.icon              
    .page-body
      .department-info(ng-hide='ctrl.departs.newDep.contacts.state')
        form#new-department-form.ui.form 
          .field 
            label شعار الإدارة          
            .img-upload.cont
              label(for='dep-logo')
                .ui.small.image 
                  img#logo-preview(src="{{ ctrl.departs.newDep.picture || 'assets/images/dep.jpg' }}", alt="department logo" )
                  .card.img-placeholder 
                    h3.ui.icon.header
                      i.upload.icon 
              .field
                input(id='dep-logo' type='file', files-model='ctrl.departs.newDep.picture', style='display:none;', accept="image/*")        
          .two.fields
            .field
              label اسم الإدارة
              input.applied-font(type='text', name='department-name', placeholder='اسم الإدارة', ng-model='ctrl.departs.newDep.name')
            .field
              label العنوان
              input.applied-font(type='text', name='address', placeholder='العنوان', ng-model='ctrl.departs.newDep.address')
          .two.fields
            .field
              label عدد المدارس
              input.applied-font(type='number', name='school-count', placeholder='عدد المدارس', ng-model='ctrl.departs.newDep.num_of_schools')
            .field
              label رقم الجوال
              input.applied-font(type='text', name='departPhone', placeholder='رقم الجوال', ng-model='ctrl.departs.newDep.phone')
          .field
            .ui.error.message  
          button.ui.primary.submit.button.primary-btn.applied-font(type='submit', ng-if='depUpdate') حفظ                   
          button.ui.primary.submit.button.primary-btn.applied-font(type='submit', ng-if='!depUpdate') اضافة
      .department-contacts(ng-show="ctrl.departs.newDep.contacts.state") 
        a.ui.button.primary-btn(ng-click="ctrl.showModal()")
          i.add.icon
          span إضافة معلومات تواصل
        a.ui.button.primary-btn.left.floated(ui-sref='dashboard.management.departs-gallery')
          i.close.icon    
          span تخطي 
        table.ui.striped.table.right.aligned
          thead
            tr
              th الاسم
              th الوظيفة
              th رقم الجوال
              th البريد الالكتروني
              th(ng-show="depUpdate") خصائص
          tbody
            tr(ng-repeat="contact in ctrl.departs.newDep.contacts.contactList")
              td {{ contact.name }}
              td {{ contact.position_vis }}              
              td {{ contact.phone }}
              td {{ contact.email }}
              td(ng-show="depUpdate")
                a.edit(ng-click="ctrl.showModal(contact)")
                  i.large.write.icon
            tr.center.aligned(ng-if='ctrl.departs.newDep.contacts.contactList.length == 0')
              td(colspan="4")
                h4.ui.header.applied-font لا يوجد محتوي بعد
  // add new contact modal 
  .ui.modal.dep-contact 
    .header.applied-font إضافة معلومات تواصل جديدة
    .content.right-aligned
      .ui.form#add-new-contact
        .two.fields
          .field
            label الاسم
            input.applied-font(type='text', name='contactName', placeholder='الاسم', ng-model='ctrl.departs.newDep.contacts.content.name')
          .field
            label الوظيفة  
            select.ui.dropdown.form-dropdown.applied-font(name="position", ng-model="ctrl.departs.newDep.contacts.content.position") 
              option(value='') اختر الوظيفة
              option(value='manager') مدير
              option(value='vice_manager_males') نائب شئون البنين
              option(value='vice_manager_females') نائب شئون البنات
              option(value='system_manager') مسئول التطبيق
        .two.fields
          .field
            label البريد الالكتروني
            input.applied-font(type='email', name='contactMail', placeholder='البريد الالكتروني', ng-model='ctrl.departs.newDep.contacts.content.email')
          .field
            label الجوال
            input.applied-font(type='text', name='contactPhone', placeholder='الجوال', ng-model='ctrl.departs.newDep.contacts.content.phone')
        .field
          .ui.error.message  
        .modal-actions 
          button.ui.primary.submit.button.primary-btn(ng-hide='ctrl.departs.newDep.contacts.edit')
            span.applied-font اضافة
            i.add.outline.icon
          button.ui.primary.submit.button.primary-btn(ng-show='ctrl.departs.newDep.contacts.edit')
            span.applied-font تعديل
            i.checkmark.outline.icon
          a.ui.warn-btn.button(ng-click='ctrl.discardNewContact()')
            span.applied-font رجوع
            i.close.icon 
