#depart-gallery(ng-show='showContent')
  .page-header
    .ui.grid
      .four.column.row
        .right.floated.column
          h2.ui.header
            i.university.icon
            .content
              span.indent-me الادارات
        .left.floated.column
          button.ui.left.floated.button.primary-btn(ui-sref='dashboard.management.newdepart')
            i.add.icon
            span اضافة إدارة
  .page-body
    .ui.grid.centered-pagin
      table.ui.striped.table.right.aligned(ng-table='ctrl.departs.tableParams')
        tbody
          tr(ng-repeat='row in $data track by $index')
            td(data-title="'رقم'", sortable="'id'") {{row.id}}
            td(data-title="'الاسم'", sortable="'name'") {{row.name}}
            td(data-title="'العنوان'") {{row.address}}
            //- td
            //-   .ui.green.label.small.circular
            //-     i.checkmark.icon
            td(data-title="'رقم الهاتف'") {{row.phone}}
            td(data-title="'عدد المدارس'") {{row.num_of_schools}}
            td(data-title="'عرض الإدارة'")
              a.preview(ui-sref='dashboard.management.custom-depart.info({ departID: row.id })')
                i.large.unhide.icon
            td(data-title="'خصائص'")
              a.edit(ui-sref='dashboard.management.editdep({ departID: row.id })')
                i.large.write.icon
              a.delete(ng-click='ctrl.delDepartment(row.id, row.name)')
                i.large.trash.outline.icon
          tr.center.aligned(ng-if='ctrl.departs.tableParams.data.length == 0')
            td(colspan="7")
              h4.ui.header.applied-font لا يوجد محتوي بعد
      confirm-modal(confirm-obj='ctrl.confirmation') 
