#depart-office(ng-show='showContent') 
  .ui.tab(data-tab="office", ng-class="{'active': isState('dashboard.management.custom-depart.office')}")
    .page-body
      .ui.grid.centered-pagin
        table.ui.striped.table.right.aligned(ng-table='ctrl.departs.customDepart.office')
          tbody
            tr(ng-repeat='row in $data track by row.id')
              td(data-title="'رقم'", sortable="'id'") {{row.id}}
              td(data-title="'الاسم'", sortable="'name'") {{row.name}}
              td(data-title="'العنوان'") {{row.address}}
              td(data-title="'رقم الجوال'") {{row.landline}}
              td(data-title="'عدد المدارس'") {{row.num_of_school}}
              td(data-title="'عرض المكتب'")
                a.preview(ui-sref='dashboard.management.custom-office.info({ officeID: row.id })')
                  i.large.unhide.icon
              td(data-title="'خصائص'")
                a.edit(ui-sref='dashboard.management.editoff({ officeID: row.id })')
                  i.large.write.icon
                a.delete
                  i.large.trash.outline.icon
            tr.center.aligned(ng-if='ctrl.departs.customDepart.office.data.length == 0')
              td(colspan="7")
                h4.ui.header.applied-font لا يوجد محتوي بعد
