#exams-new(ng-show='showContent')
  .ui.grid.container
      .row
        .sixteen.wide.column
          .ui.fixed.segment
            .page-header
              .ui.grid
                .sixteen.column.wide
                  .right.floated.column
                    h3.ui.header
                      i.grid.layout.icon
                      .content
                        span.indent-me الدورات المتاحة
                      .meta 
                        span(style="font-size:14px; color:#CACBCD; font-weight:normal;") أختر الدورات التي تريد الاختبار بها 

            .page-body
              .ui.grid 
                .four.wide.column(ng-repeat="course in availableCourses track by $index")
                  .ui.shape(class="shape{{$index}}", ng-click="ctrl.tarek($index, course.id);")
                    .sides
                      .active.side.ui.cards
                        .ui.card
                          .image
                            img(ng-src='{{ course.cover || "assets/images/course-cover.png" }}')
                          .content
                            h5.header.applied-font(style="display:inline-block; font-size:1.1em;") {{course.name}}
                            .meta
                              a Acquaintances 
                      .side.ui.cards
                        .ui.card
                          .image
                            img(ng-src='assets/images/selected-course.png')
                          .content
                            h5.header.applied-font(style="display:inline-block; font-size:1.1em;") {{course.name}}
                            .meta
                              span.date Joined in 2014
                .sixteen.wide.column 
                  button.ui.right.floated.button.primary-btn(ng-click="") 
                      span متابعة

