#exams-gallery(ng-show='showContent')
  .ui.grid.container
      .row
        .sixteen.wide.column
          .ui.fixed.segment
            .page-header
              .ui.grid
                .eight.wide.column
                  .right.floated.column
                    h3.ui.header
                      i.grid.disk.outline.icon
                      .content
                        span.indent-me الاختبارات
                .eight.wide.column
                  .left.floated.column
                    button.ui.left.floated.button.primary-btn(ui-sref='account.learn.newexam') 
                      span اختبار جديد
            .page-body
              .ui.grid 
                .sixteen.wide.column 
                  table.ui.striped.table.right.aligned
                    thead 
                      tr 
                        th اسم الاختبار
                        th الحالة
                        th المدة
                        th وقت البداية 
                        th وقت النهاية 
                        th النتيجة
                    tbody
                      tr(ng-repeat="exam in ctrl.previousExams track by $index")
                        td {{ exam.id }} 
                        td {{ exam.status }} 
                        td {{ exam.duration / 60 }} دقيقة   
                        td 
                          span.ui.blue.label(style="padding-left:0px;")
                            .detail {{ exam.started_at | amDateFormat:'MM/DD/YYYY'}}
                            .detail {{ exam.started_at | amDateFormat:'12:mm'}}  
                        td  
                          span.ui.red.label(style="padding-left:0px;")
                            .detail {{ exam.submitted_at | amDateFormat:'MM/DD/YYYY'}}
                            .detail {{ exam.submitted_at | amDateFormat:'12:mm'}}  
                        td(style="width:250px;")
                          progress.course-progress(value='{{exam.result.percentage}}' max="100")  
                        
