#course-gallery(ng-show='showContent')
  .page-header
    .ui.grid
      .four.column.row
        .right.floated.column
          h2.ui.header
            i.book.icon
            .content
              span.indent-me الدورات
        .left.floated.column
          a.ui.left.floated.button.primary-btn(ui-sref="dashboard.management.add-course")
            i.add.icon
            span اضافة دورة
  .page-body
    .ui.grid.centered-pagin
      table.ui.striped.table.right.aligned(ng-table='ctrl.offices.tableParams')
        tbody
          tr(ng-repeat='row in $data track by row.id')
            td(data-title="'رقم'", sortable="'id'") {{row.id}}
            td(data-title="'اسم الدورة'", sortable="'name'") {{row.name}}
            td(data-title="'عدد الملتحقون'") {{row.address}}
            td(data-title="'نوع'") {{row.landline}} 
            td(data-title="'عرض الدورة'")
              a.preview(ui-sref='dashboard.management.custom-office.info({ officeID: row.id })')
                i.large.unhide.icon
            td(data-title="'خصائص'")
              a.edit
                i.large.write.icon
              a.delete
                i.large.trash.outline.icon
          tr 
            td 1
            td first course
            td 2360
            td علمي
            td 
              a.preview(ui-sref='dashboard.management.custom-office.info({ officeID: row.id })')
                i.large.unhide.icon
            td 
              a.edit
                i.large.write.icon
              a.delete
                i.large.trash.outline.icon
          tr 
            td 2
            td second course
            td 2360
            td ادبي
            td 
              a.preview(ui-sref='dashboard.management.custom-office.info({ officeID: row.id })')
                i.large.unhide.icon
            td 
              a.edit
                i.large.write.icon
              a.delete
                i.large.trash.outline.icon
          tr 
            td 3
            td third course
            td 2360
            td علمي
            td 
              a.preview(ui-sref='dashboard.management.custom-office.info({ officeID: row.id })')
                i.large.unhide.icon
            td 
              a.edit
                i.large.write.icon
              a.delete
                i.large.trash.outline.icon
