#course-process
  .page-header
    .ui.grid
      .four.wide.column
        .right.floated.column
          h2.ui.header
            i.book.icon
            .content
              span.indent-me معلومات الدورة
      .twelve.wide.column
        .ui.three.steps.en-dir.steps-cont
          .step(ng-class="{'active': ctrl.course.steps.fStep}")
            .content
              .title.applied-font معلومات الدورة
                i.truck.icon
          .step(ng-class="{'active': ctrl.course.steps.sStep}")
            .content
              .title.applied-font معلومات المادة
                i.payment.icon
          .step(ng-class="{'active': ctrl.course.steps.tStep}")
            .content
              .title.applied-font محتوي الدورة
                i.info.icon


  .page-body
    .ui.grid 
      .ten.wide.column
        form#process-course-form.ui.form(name="processCourseForm" ng-submit="ctrl.submitform(processCourseForm.$valid)" novalidate)
          .first-step(ng-show='ctrl.course.steps.fStep')
            .grouped.fields
              label أختر التصنيف :
              .field.course-choice.nbras-radio-btn 
                input#collection(type='radio', name='category', value='collection', ng-model='ctrl.course.newCourse.selectedCategory' )
                label(for='collection')
                  .wrapper
                    span 
                  .course-type تحصيلي
              .field.course-choice.nbras-radio-btn
                input#capabilities(type='radio', name='category', value='capabilities', ng-model='ctrl.course.newCourse.selectedCategory')
                label(for='capabilities')
                  .wrapper
                    span 
                  .course-type قدرات
            //choose course type "3lmy  aw adby "
            .grouped.fields(ng-show='ctrl.course.newCourse.selectedCategory === "collection"')
              label  حدد نوع الدورة : 
              .field.course-choice.nbras-radio-btn 
                input#scientific(type='radio', name='coursetype', value='scientific', ng-model='ctrl.course.newCourse.selectedCourse', ng-change='ctrl.course.newCourse.selectedSubject = ""')
                label(for='scientific')
                  .wrapper
                    span 
                  .course-type علمي
              .field.course-choice.nbras-radio-btn
                input#literal(type='radio', name='coursetype', value='literal', ng-model='ctrl.course.newCourse.selectedCourse', ng-change='ctrl.course.newCourse.selectedSubject = ""')
                label(for='literal')
                  .wrapper
                    span 
                  .course-type أدبي
            //choose suject mn el 3lmy
            .grouped.fields(ng-hide='ctrl.course.newCourse.selectedCourse !== "scientific" || ctrl.course.newCourse.selectedCategory !== "collection"')
              label(for='scincesub') حدد اسم المادة  :
              .field.course-choice.nbras-radio-btn 
                input#physics(type='radio', name='subject', tabindex='0', value='physics', ng-model='ctrl.course.newCourse.selectedSubject')
                label(for='physics')
                  .wrapper
                    span 
                  .course-type فيزياء
              .field.course-choice.nbras-radio-btn
                input#chemistry(type='radio', name='subject', tabindex='1', value='chemistry', ng-model='ctrl.course.newCourse.selectedSubject')
                label(for='chemistry')
                  .wrapper
                    span 
                  .course-type كيمياء
              .field.course-choice.nbras-radio-btn 
                input#biology(type='radio', name='subject', tabindex='2', value='biology', ng-model='ctrl.course.newCourse.selectedSubject')
                label(for='biology')
                  .wrapper
                    span 
                  .course-type أحياء
              .field.course-choice.nbras-radio-btn
                input#math(type='radio', name='subject', tabindex='3', value='math', ng-model='ctrl.course.newCourse.selectedSubject')
                label(for='math')
                  .wrapper
                    span 
                  .course-type رياضيات
            //choose subject adby
            .grouped.fields(ng-hide='ctrl.course.newCourse.selectedCourse !== "literal"  || ctrl.course.newCourse.selectedCategory !== "collection"')
              label(for='literalsub') حدد اسم المادة  :
              .field.course-choice.nbras-radio-btn 
                input#subject1(type='radio', name='subject', tabindex='0', value='subject1', ng-model='ctrl.course.newCourse.selectedSubject')
                label(for='subject1')
                  .wrapper
                    span 
                  .course-type المادة الاولي
              .field.course-choice.nbras-radio-btn
                input#subject2(type='radio', name='subject', tabindex='1', value='subject2', ng-model='ctrl.course.newCourse.selectedSubject')
                label(for='subject2')
                  .wrapper
                    span 
                  .course-type المادة الثانية
              .field.course-choice.nbras-radio-btn 
                input#subject3(type='radio', name='subject', tabindex='2', value='subject3', ng-model='ctrl.course.newCourse.selectedSubject')
                label(for='subject3')
                  .wrapper
                    span 
                  .course-type المادة الثالثة
              .field.course-choice.nbras-radio-btn
                input#subject4(type='radio', name='subject', tabindex='3', value='subject4', ng-model='ctrl.course.newCourse.selectedSubject')
                label(for='subject4')
                  .wrapper
                    span 
                  .course-type المادة الرابعة

            button.ui.button.primary-btn.applied-font(type="button", ng-disabled="ctrl.course.newCourse.selectedCourse === '' || ctrl.course.newCourse.selectedSubject === '' ",
             ng-click="ctrl.course.steps.fStep = false; ctrl.course.steps.sStep = true; ") متابعة
          .second-step(ng-show='ctrl.course.steps.sStep')
            .field
              label عنوان الدروة:
              input.applied-font(type='text', name='course-name', placeholder='عنوان الدورة', ng-model='ctrl.courseInfo.name')
            .field
              label وصف الدورة:
              textarea.applied-font(name="description", cols="30", rows="4", placeholder='الوصف', ng-model='ctrl.courseInfo.desc')
            .two.fields
              .field
                label متطلبات الدورة:
                textarea.applied-font(name="requirements", cols="30", rows="4", placeholder='متطلبات الدورة', ng-model='ctrl.courseInfo.requirements')
              .field
                label مخرجات المادة
                textarea.applied-font(name="requirements", cols="30", rows="4", placeholder='مخرجات الدورة', ng-model='ctrl.courseInfo.desc')
            button.ui.button.primary-btn.applied-font(type="button", ng-disabled="ctrl.course.newCourse.selectedCourse === ''", ng-click="ctrl.course.steps.sStep = false; ctrl.course.steps.tStep = true;") متابعة
          .third-step(ng-show='ctrl.course.steps.tStep')
            .three.fields
              .field
                label اسم الدرس:
                input.applied-font(type='text', name='lesson-name', placeholder='اسم الدرس', ng-model='ctrl.course.courseInfo.lesson.title')
              .field
                label وصف الدرس :
                input.applied-font(type='text', name='lesson-desc', placeholder='وصف الدرس', ng-model='ctrl.course.courseInfo.lesson.desc')
              .field
                label الرابط:
                input.applied-font(type='text', name='lesson-link', placeholder='رابط الدرس', ng-model='ctrl.course.courseInfo.lesson.link')
            .field
              label ملاحظات:
              textarea.applied-font(name="lesson-note", cols="30", rows="4", placeholder='ملاحظات', ng-model='ctrl.course.courseInfo.lesson.note')
            .field
              button.ui.button.primary-btn.applied-font(type="button", ng-click="ctrl.addLesson()") اضافة الدرس
      .six.wide.column(ng-show='ctrl.course.steps.tStep')
        .lesson-cont            
          table.ui.striped.table.right.aligned
            thead
              tr
                th رقم الدرس
                th العنوان 
                th الرابط
            tbody
              tr(ng-repeat="lesson in ctrl.course.courseInfo.lessonList track by $index")
                td {{ $index + 1}}
                td {{ lesson.title }}
                td {{ lesson.link }}
              tr.center.aligned(ng-if='ctrl.course.courseInfo.lessonList.length == 0')
                td(colspan="5")
                  h4.ui.header.applied-font لا يوجد محتوي بعد
