$fonts-path: '/assets/fonts';
$background-color: #F6F8F8;

$primary:#03C0EA;
$secondary:#2F3A4C;
$secondary-light: #4E5867;

$border: #DDDFDF;
$border-dark: #9e9e9e;
$font-light: #7b8b8e;

$warn: #9f3a38;
$warn-dark: #732d2c;
$warn-back:#FFF6F6;

$white: #FFF;
