@import 'fonts';
@import 'variables';
* {
  font-family: "Neo Sans Arabic", serif;
  direction: rtl;
}

html,
body {
  background-color: $background-color;
}

// general syles
.pull-left {
  float: left !important;
}

.loading-dimmer {
  position: fixed;
}

table {
  padding: 0px !important;
  border-radius: 1px !important;
  th {
    cursor: pointer !important;
  }
  .edit {
    color: $secondary-light;
    cursor: pointer;
  }
  .delete {
    color: #9f3a38;
    cursor: pointer;
  }
  .preview {
    color: $secondary;
    cursor: pointer;
  }
}

.dashed {
  border: 1px dashed $border !important;
  border-radius: 1px !important;
  box-shadow: none !important;
}

.disabled {
  cursor: not-allowed !important;
  a {
    cursor: not-allowed !important;
  }
}

.indent-me {
  margin-right: 10px !important;
}

.pull-right {
  float: right !important;
}

.applied-font {
  font-family: "Neo Sans Arabic", serif !important;
}

.ui .segment {
  border-radius: 1px;
  box-shadow: none;
}

.centered-pagin {
  justify-content: center;
  .ng-isolate-scope {
    display: inline-block;
  }
}

.page-header {
  padding: 1rem 0rem;
  border-bottom: 1px solid $border;
  margin-bottom: 1rem;
}

.page-body {
  padding: 1rem !important;
}

//buttons
.primary-btn {
  background-color: $secondary !important;
  border-radius: 1px !important;
  color: $white !important;
  min-width: 100px;
  -webkit-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  -ms-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
  &:hover {
    background-color: $secondary-light !important;
  }
  span {
    margin-right: 5px;
  }
  i {
    margin: 0px !important;
  }
}

.approving {
  background-color: $secondary !important;
  border-radius: 1px !important;
  color: $white !important;
  -webkit-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  -ms-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
  &:hover {
    background-color: $secondary-light !important;
  }
}

.warn-btn {
  background-color: $warn !important;
  border-radius: 1px !important;
  color: $white !important;
  min-width: 100px;
  -webkit-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  -ms-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
  &:hover {
    background-color: $warn-dark !important;
  }
  span {
    margin-right: 5px;
  }
  i {
    margin: 0px !important;
  }
}

.warning {
  background-color: $warn !important;
  border-radius: 1px !important;
  color: $white !important;
  -webkit-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  -ms-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
  &:hover {
    background-color: $warn-dark !important;
  }
}

input,
textarea,
.form-dropdown {
  border-radius: 1px !important;
  text-align: right !important;
  margin-bottom: 12px !important;
  direction: ltr;
}

.select-menu .menu .item {
  text-align: right !important;
  option {
    text-align: right;
  }
}

//color picker
$color_1: white;
$background_color_1: white;
$background_color_2: #D82727;
.color-box {
  position: fixed;
  top: 400px;
  right: -202px;
  width: 200px;
  min-height: 80px;
  border: 1px solid #CCC;
  z-index: 1002;
  background-color: $background_color_1;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  .setting {
    position: absolute;
    left: -40px;
    background-color: $background_color_2;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: $color_1;
    top: -1px;
    font-size: 1.5em;
    cursor: pointer;
    &:before {
      position: relative;
      top: 10px;
      transform: rotateX(150deg);
    }
  }
  ul {
    list-style-type: none;
    padding: 12px !important;
    text-align: center;
    li {
      display: inline-block;
      width: 35px;
      height: 35px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      cursor: pointer;
    }
  }
  #theme_opt {
    li {
      border-radius: 2px;
      width: 48%;
    }
  }
}


/*pagination style*/

.pagination.ng-table-pagination {
  list-style: none;
  border: 1px solid $border;
  padding: 0px;
  border-radius: 2px;
  li {
    display: inline-block;
    padding: 10px 0px !important;
    &:not(:last-child) {
      border-left: 1px solid $border;
    }
    a {
      padding: 10px 16px;
    }
  }
  .disabled {
    background-color: $border;
    a {
      color: $font-light;
    }
  }
  .active {
    background-color: $secondary-light;
    a {
      color: $white;
    }
  }
}

//directions
.ar-dir {
  direction: rtl;
}

.en-dir {
  direction: ltr;
}

.steps-cont {
  border-radius: 1px !important;
  .step {
    cursor: pointer;
    border-radius: 1px !important;
    .title {
      color: $secondary !important;
    }
  }
}

// image upload 
.img-upload.cont {
  display: inline-block;
  img {
    border-radius: 2px !important;
    padding: 4px !important;
    border: 1px solid $border !important;
    cursor: pointer;
  }
  .img-placeholder {
    visibility: hidden;
    background-color: $secondary-light;
    border-radius: 1px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.7;
    i {
      color: white;
      opacity: 0.9 !important;
    }
  }
  &:hover .img-placeholder {
    visibility: visible;
  }
}

progress {
  position: absolute;
  bottom: 15vh;
  left: 32%;
  z-index: 999999999;
  width: 400px;
  height: 14px;
  display: block;
  border-radius: 1px;
  height: 20px;
  /* Important Thing */
  -webkit-appearance: none;
  border: none;
  &::-webkit-progress-bar {
    background: $border;
    padding: 2px;
  }
  &::-webkit-progress-value {
    background: $secondary-light;
    background-size: 25px 14px, 100% 100%, 100% 100%;
  }
}

.course-progress {
  display: table-cell;
  position: initial;
}

//error container
.ui.error.message {
  border-radius: 1px;
  ul {
    text-align: right;
    li {
      text-align: right;
      &::before {
        right: -0.7em;
      }
    }
  }
}

//confirm modal 
.ui.modal {
  .header,
  .content {
    text-align: right;
  }
}

.nbras-radio-btn {
  margin-bottom: 10px !important;
  display: flex !important;
  input[type="radio"] {
    display: none !important;
    +label {
      display: inline-flex;
      .wrapper {
        display: inline-block;
        height: 20px;
        width: 20px;
        border-radius: 100%;
        background-color: $border;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
      span {
        display: inline-block;
        width: 10px;
        height: 10px;
        vertical-align: middle;
        background: $border;
        border-radius: 100%;
        cursor: pointer;
      }
    }
    &:checked+label span {
      background: $secondary-light;
    }
  }
}

.ui.form .field.error label .wrapper {
  background-color: $warn-back;
  box-shadow: 0 0 0 1px #e0b4b4 inset, 0 0 0 0 transparent;
}

.ql-toolbar.ql-snow {
  text-align: right;
}

.ql-editor {
  text-align: right !important;
  min-height: 200px;
  img {
    max-height: 30px;
  }
}

.modal-actions {
  padding: 1rem 1rem;
  border-top: 1px solid rgba(34, 36, 38, .15);
  text-align: right;
}

.error-message {
  background: #fff6f6;
  border-color: #e0b4b4 !important;
  color: #9f3a38 !important;
  padding: 1em 1.5em;
}
.ui.inverted.dimmer.loading-dimmer {
  position: fixed;  
}
