@import '../../shared/variables';
#contract-options {
  .ui.two.cards>.card {
    padding: 1rem;
    border-radius: 1px;
    background-color: $secondary;
    opacity: 0.85;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    .icon.header {
      color: white;
      padding: 3rem;
    }
    .card-footer {
      border-top: 1px solid $border;
      a {
        color: $white;
      }
    }
    &:hover {
      opacity: 1;
    }
  }
}

#contract-school {
}
