#contract-options(ng-hide='ctrl.contractOpt.depCon.state || ctrl.contractOpt.schCon.state ')
  .ui.two.cards
    .card(ng-click='ctrl.contractOpt.depCon.state = true')
      h2.ui.icon.header
        i.university.icon
        .content
          | تعاقد مع إدارة
      .content.card-footer
        a.header.applied-font لديك 15 تعاقد
    .card(ng-click='ctrl.contractOpt.schCon.state = true')
      h2.ui.icon.header
        i.building.icon
        .content
          | تعاقد مع مدرسة
      .content.card-footer
        a.header.applied-font لديك 23 تعاقد
#contract-school(ng-show=' ctrl.contractOpt.schCon.state ')
  .first-step(ng-hide='ctrl.contractOpt.schCon.firstStep')
    .page-header
      .ui.grid
        .column.row
          .right.floated.column
            h2.ui.header
              i.building.icon
              .content
                span.indent-me معلومات المدرسة
    .page-body
      form.ui.form
        .two.fields
          .field
            label اسم المدرسة
            input.applied-font(type='text', name='school-name', placeholder='اسم المدرسة')
          .field
            label العنوان
            input.applied-font(type='text', name='address', placeholder='العنوان')
        .three.fields
          .field
            label اسم المدير
            input.applied-font(type='text', name='dir-name', placeholder='اسم المدير')
          .field
            label البريد الالكتروني
            input.applied-font(type='email', name='dir-mail', placeholder='البريد الالكتروني')
          .field
            label رقم الجوال
            input.applied-font(type='text', name='dir-phone', placeholder='رقم الجوال')
        .three.fields
          .field
            label اسم مسئول التطبيق
            input.applied-font(type='text', name='res-name', placeholder='اسم المسئول')
          .field
            label البريد الالكتروني
            input.applied-font(type='email', name='res-mail', placeholder='البريد الالكتروني')
          .field
            label رقم الجوال
            input.applied-font(type='text', name='res-phone', placeholder='رقم الجوال')
        button.ui.button.primary-btn.applied-font(type='submit', ng-click='ctrl.contractOpt.schCon.firstStep = true') حفظ
  .second-step(ng-show='ctrl.contractOpt.schCon.firstStep')
    .page-header
      .ui.grid
        .column.row
          .right.floated.column
            h2.ui.header
              i.travel.icon
              .content
                span.indent-me معلومات التعاقد
    .page-body
      form.ui.form
        .field
          label Name
          .two.fields
            .field
              input(type='text', name='shipping[first-name]', placeholder='First Name')
            .field
              input(type='text', name='shipping[last-name]', placeholder='Last Name')
        .field
          label Billing Address
          .fields
            .twelve.wide.field
              input(type='text', name='shipping[address]', placeholder='Street Address')
            .four.wide.field
              input(type='text', name='shipping[address-2]', placeholder='Apt #')
        .two.fields
          .field
            label State
            select.ui.fluid.dropdown
              option(value='') State
              option(value='AL') Alabama
              option(value='AK') Alaska
              option(value='AZ') Arizona
              option(value='AR') Arkansas
              option(value='CA') California
              option(value='CO') Colorado
          .field
            label Country
            .ui.fluid.search.selection.dropdown
              input(type='hidden', name='country')
              i.dropdown.icon
              .default.text Select Country
              .menu
                .item(data-value='bt')
                  i.bt.flag
                  | Bhutan
                .item(data-value='bo')
                  i.bo.flag
                  | Bolivia
                .item(data-value='ba')
                  i.ba.flag
                  | Bosnia
                .item(data-value='bw')
                  i.bw.flag
                  | Botswana
                .item(data-value='bv')
                  i.bv.flag
                  | Bouvet Island
                .item(data-value='br')
                  i.br.flag
                  | Brazil
      
