#contract-gallery(ng-show='showContent')
  .page-header
    .ui.grid
      .four.column.row
        .right.floated.column
          h2.ui.header
            i.travel.icon
            .content
              span.indent-me التعاقد
        .left.floated.column
          button.ui.left.floated.button.primary-btn
            i.add.icon
            span اضافة تعاقد
  .page-body
    .ui.grid.centered-pagin
      table.ui.striped.table.right.aligned
        thead
          tr
            th مؤسسة
            th العنوان
            th مسئول التطبيق
            th عرض التعاقد
            th خصائص
        tbody
          tr(ng-repeat="x in [1,2,3,4,5]")
            td مدرسة
            td الاسكندرية , قسم الرمل , ش طوسون .
            td ahmedadmin
            td
              a.preview(ui-sref='dashboard.management.custom-contract({ contractID: x })')
                i.large.unhide.icon
            td
              a.edit
                i.large.write.icon
              a.delete
                i.large.trash.outline.icon
