#custom-depart
  .ui.secondary.pointing.menu
    a.item.active(data-tab="info")
      h4.ui.header.applied-font  المكتب
    a.item(data-tab="school")
      h4.ui.header.applied-font المدرسة
  .ui.segment
    .ui.tab.active(data-tab='info')
      .ui.grid
        .eleven.wide.column
          .ui.items
            .item
              .ui.small.image
                img(src='assets/images/dep.jpg')
              .content.indent-me
                .ui.list
                  .item
                    i.large.university.icon
                    .content
                      h3.ui.header.applied-font مكتب الابراهيميه
                  .item
                    i.large.marker.icon
                    .content
                      h3.ui.header.applied-font الاسكندرية , قسم الرمل , ش طوسون .
        .five.wide.column
          canvas#pie.chart.chart-base(chart-data='ctrl.adminStatistics.all.data', chart-labels='ctrl.adminStatistics.all.labels', chart-colors='ctrl.adminStatistics.all.colors', chart-type='ctrl.adminStatistics.all.type')
      .ui.grid.page-body
        table.ui.striped.table.right.aligned
          thead
            tr
              th المسئولون
              th الاسم
              th رقم الجوال
              th البريد الالكتروني
          tbody
            tr
              td مسئول التطبيق
              td محمد أحمد ابراهيم
              td +96 253 2626 6395
              td mohamedahmed@gmail.com

    .ui.tab(data-tab='school')
      .page-body
        .ui.grid
          table.ui.striped.table.right.aligned
            thead
              tr
                th اسم المدرسة
                th عدد الطلاب
                th عرض المدرسة
                th خصائص
            tbody
              tr(ng-repeat="x in [1,2,3,4,5]")
                td مدرسة نجيب محفوظ
                td 3250
                td
                  a(ui-sref='dashboard.management.custom-depart({ departID: x })')
                    i.large.unhide.icon
                td
                  a
                    i.large.write.icon
                  a
                    i.large.trash.outline.icon
