#dashboard
  #top-nav.ui.top.huge.fixed.menu
    .right.menu
      .item
        .ui.dropdown.labeled.icon.notification(ng-click='ctrl.toggleFullScreen()')
          i.maximize.icon
    .left.menu
      .item
        .ui.dropdown.labeled.icon.notification
          i.bell.icon
          .ui.red.label.mini.circular 6
          .menu
            .item
              span you got notification
      .item
        .ui.labeled.icon.top.left.pointing.dropdown.acc-info
          .user-info
            img.ui.mini.circular.image(src="{{ profile.picture || 'assets/images/profile-placeholder.png'}}", alt="")
            .content
              .ui.sub.header
                p {{ profile.name }}
          i.dropdown.icon
          #profile-manage-menu.menu 
            .item.right.aligned(ui-sref='dashboard.management.profile.basic')
              i.setting.icon
              .content
                h5.ui.header.applied-font الاعدادات
            .ui.divider
            .item.right.aligned(ng-click='ctrl.logout()')
              i.sign.out.icon
              .content
                h5.ui.header.applied-font تسجيل خروج

  #main-nav.ui.large.right.fixed.vertical.menu
    .item.ui.centered.image.logo
      img(src="assets/images/nav.png", alt="")
    .nav-menu
      .item
        .ui.accordion
          .title(ng-class="{'active': isState('dashboard.management.departs-gallery') || isState('dashboard.management.admin-statistics')}", ng-hide='userRole !== "admin"')
            i.university.icon
            i.dropdown.icon.pull-left
            span الادارات
          .content.list(ng-class="{'active': isState('dashboard.management.departs-gallery') || isState('dashboard.management.admin-statistics')}")
            a.item(ui-sref="dashboard.management.departs-gallery" ui-sref-active="active")
              i.block.layout.icon
              span عرض الادارات
            a.item(ui-sref="dashboard.management.admin-statistics" ui-sref-active="active")
              i.bar.chart.icon
              span احصائيات
          .title(ng-class="{'active': isState('dashboard.management.offices-gallery') || isState('dashboard.management.offices-statistics')}",  ng-hide='userRole !== "admin" && userRole !== "department"')
            i.building.icon
            i.dropdown.icon.pull-left
            span المكاتب
          .content.list(ng-class="{'active': isState('dashboard.management.offices-gallery') || isState('dashboard.management.offices-statistics')}")
            a.item(ui-sref="dashboard.management.offices-gallery" ui-sref-active="active")
              i.block.layout.icon
              span عرض المكتب
            a.item(ui-sref="dashboard.management.offices-statistics" ui-sref-active="active")
              i.bar.chart.icon
              span احصائيات
          .title(ng-class="{'active': isState('dashboard.management.schools-gallery') || isState('dashboard.management.schools-statistics')}", ng-hide='userRole !== "admin" && userRole !== "department"  && userRole !== "office"')
            i.student.icon
            i.dropdown.icon.pull-left
            span المدارس
          .content.list(ng-class="{'active': isState('dashboard.management.schools-gallery') || isState('dashboard.management.schools-statistics')}")
            a.item(ui-sref="dashboard.management.schools-gallery" ui-sref-active="active")
              i.block.layout.icon
              span عرض المدرسة
            a.item(ui-sref="dashboard.management.schools-statistics" ui-sref-active="active")
              i.bar.chart.icon
              span احصائيات
          .title(ng-class="{'active': isState('dashboard.management.students-gallery')}")
            i.user.icon
            i.dropdown.icon.pull-left
            span الطلاب
          .content.list(ng-class="{'active': isState('dashboard.management.students-gallery')}")
            a.item(ui-sref="dashboard.management.students-gallery" ui-sref-active="active")
              i.block.layout.icon
              span عرض الطلاب
            a.item(ui-sref='dashboard.management.students-manage' ui-sref-active="active")
              i.bar.plus.icon
              span اضافة طالب
          .title(ng-class="{'active': isState('dashboard.management.contracts-gallery') || isState('dashboard.management.add-contract')}", ng-hide='userRole !== "admin"')
            i.handshake.icon
            i.dropdown.icon.pull-left
            span التعاقدات
          .content.list(ng-class="{'active': isState('dashboard.management.contracts-gallery') || isState('dashboard.management.add-contract')}")
            a.item(ui-sref="dashboard.management.contracts-gallery" ui-sref-active="active")
              i.block.layout.icon
              span عرض التعاقد
            a.item(ui-sref="dashboard.management.add-contract" ui-sref-active="active")
              i.bar.plus.icon
              span اضافة تعاقد
          .title(ng-class="{'active': isState('dashboard.management.tree') || isState('dashboard.management.tree')}", ng-hide='userRole !== "admin"')
            i.align.left.icon
            i.dropdown.icon.pull-left
            span الهيكل
          .content.list(ng-class="{'active': isState('dashboard.management.tree') || isState('dashboard.management.tree')}")
            a.item(ui-sref="dashboard.management.tree" ui-sref-active="active")
              i.block.layout.icon
              span عرض الهيكل
          .title(ng-class="{'active': isState('dashboard.management.course') || isState('dashboard.management.bank')}", ng-hide='userRole !== "admin"')
            i.disk.outline.icon
            i.dropdown.icon.pull-left
            span المحتوي
          .content.list(ng-class="{'active': isState('dashboard.management.course') || isState('dashboard.management.bank')}")
            a.item(ui-sref="dashboard.management.course" ui-sref-active="active")
              i.book.icon
              span الدورات
            a.item(ui-sref="dashboard.management.bank" ui-sref-active="active")
              i.help.icon
              span بنك الاسئلة


  #page-cont
    .ui.fixed.segment
      ui-view






//- #colorBox.color-box
//-   i#colorGear.setting.icon
//-   ul#theme_opt
//-     li(style='background-color:#F1F1F1;', data-value='./assets/css/white-optradical.css')
//-     li(style='background-color:#27292E;', data-value='./assets/css/dark-optradical.css')
//-   ul#colorful-theme
//-     li(style='background-color:#D82727;', data-value='/modules/shared/dashboard/blue-theme.css')
//-     li(style='background-color:#0098D8;', data-value='./assets/css/blue-theme.css')
//-     li(style='background-color:#07b268;', data-value='./assets/css/green-theme.css')
//-     li(style='background-color:#3f51b5;', data-value='./assets/css/purple-theme.css')
//-     li(style='background-color:#ff9801;', data-value='./assets/css/orange-theme.css')
//-     li(style='background-color:#27a79a;', data-value='./assets/css/gray-theme.css')
