@import '../variables';
#top-nav {
  height: 60px;
  background-color: $white;
  border-bottom: 1px solid $border;
  box-shadow: none;
  border-top: none;
  .notification {
    i {
      font-size: 1.2em;
    }
    .ui.red.label {
      position: relative;
      top: -8px;
      right: -8px;
    }
  }
  .user-info {
    display: inline-block;
    vertical-align: middle;
    img,
    .content {
      display: inline-block;
      text-align: right;
    }
    img {
      height: 36px;
    }
  }
  i.dropdown {
    margin-right: 15px;
  }
}

#main-nav {
  background-color: $secondary !important;
  border: none;
  overflow: auto;
  box-shadow: none;
  .item .ui.accordion .content .item {
    color: white !important;
    margin-right: 10px;
  }
  .item .ui.accordion .title {
    color: white !important;
    padding: .8em 0em;
    span {
      margin-right: 10px;
    }
  }
  .item .ui.accordion .content .item.active {
    border-right: 3px solid $primary;
    background: rgba(0, 0, 0, .07);
    margin-right: 10px;
  }
  .logo {
    background-color: $primary;
    padding: 0px;
    padding-top: 6px;
    height: 60px;
    cursor: pointer;
    text-align:center;
    img {
      height: 58px;
      display: inline-block;
    }
  }
  .nav-menu {
    margin-top: 1rem;
  }
}

#page-cont {
  margin: 6rem 1rem 1rem 1rem;
  .ui.fixed.segment {
    padding: 1rem;
    border-radius: 1px;
    box-shadow: none;
  }
}

#dashboard {
  #top-nav {
    padding-right: 18rem;
  }
  #page-cont {
    margin: 5rem 19rem 1rem 1rem;
  }
}

#profile-manage-menu {
  border-radius: 2px !important;
  min-width: 150px;
  padding: 1em 0.3em;
  margin: 0px;
  left: -3px;
  .item {
    padding: 0.4em !important;
    padding-right: 0px !important;
    .content {
      display: inline-block;
      margin-right: 5px;
    }
  }
}
