@import '../../shared/variables';
#bank-process {
  label {
    margin-right: 0px;
    margin-bottom: 5px;
  }
  #process-bank-form {
    .bank-choice {
      label {
        display: inline-flex;
        position: relative;
        right: -13px;
        float: right;
      }
      .bank-type {
        margin-right: 7px;
      }
    }
  }
}

.question-preview {
  height: 100%;
  .question-preview-header,
  .question-preview-content {
    text-align: right;
    direction: rtl;
    img {
      max-height: 30px;
    }
  }
}

.add-question-wizard,
.add-choice-wizard {
  margin-bottom: 12px;
}

.edit-question {
  color: $secondary-light !important;
  cursor: pointer;
}

.done-edit {
  i {
    margin-right: 0px !important;
  }
}
